@using Entidades;
@model ENCanales
@{
    ViewBag.Title = "Canales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}

<style>

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .fade-scale {
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all .30s linear;
        -o-transition: all .30s linear;
        transition: all .30s linear;
    }

        .fade-scale.in {
            opacity: 1;
            transform: scale(1);
        }
</style>
<section>

    @using (Html.BeginForm("GetLista", "Canal", FormMethod.Get, new { id = "Form1", name = "Form1" }))
    {
        <div class="row">

            <div class="col-md-6">
                <div class="card card-info card-outline shadow-lg">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-building"></i>
                            Sociedad
                        </h3>
                    </div>
                    <div class="card-body ">
                        <div class="row text-center pt-2 pb-2">
                            <div class="col-md-12">
                                <div class="form">
                                    <label class="text-uppercase" for="txtdesde" hidden>SOCIEDAD &nbsp;&nbsp;</label>
                                    @Html.DropDownList("slcSociedad", ViewData["ListaSociedades"] as SelectList, new { @class = "form-control-sm js-example-basic-single" })
                                    <button id="btnbuscar" type="submit" class="btn btn-dark btn-sm">
                                        <i class="fa fa-search text-warning"></i>&nbsp;&nbsp;Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-info card-outline shadow-lg">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-mouse-pointer"></i>
                            Opciones
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row  text-center">
                            <div class="col-md-12">
                                <div class="btn-group-justified">
                                    <button type="button" id="btnCanal" class="btn btn-info btn-sm">
                                        <i class="fa fa-plus text-warning"></i>&nbsp;&nbsp;Agregar Canal
                                    </button>
                                    <button type="button" id="btnCanal" class="btn btn-success btn-sm disabled">
                                        <i class="fa fa-search text-warning"></i>&nbsp;&nbsp;Historial Comisiones por Canal
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12">
            <div class="card card-info card-outline shadow-lg">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-shopping-basket"></i>
                        Lista de Canales
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body ">
                    <table id="dglista" class="table table-bordered text-uppercase">
                        <thead class="bg-gradient-lightblue">
                            <tr>
                                <th>CODIGO</th>
                                <th>DESCRIPCION</th>
                                <th>TIPO COMISIÓN</th>
                                <th>COMISIÓN</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["Canales"] != null)
                            {
                                foreach (ENCanales can in (List<ENCanales>)ViewData["Canales"])
                                {
                                    <tr>
                                        <td>@can.IDCanal </td>
                                        <td>@can.DescripcionCanal </td>
                                        <td>@((can.Comision_Tipo_Descripcion == "") ? @Html.Raw(HttpUtility.HtmlDecode("<span class='text-danger'>Sin Asignar</span>")) : @Html.Raw("<span class='text-primary'>"+ @can.Comision_Tipo_Descripcion + "</span>"))</td>
                                        <td>@((can.Comision_Cantidad == 0) ? @Html.Raw(HttpUtility.HtmlDecode("<span class='text-danger'>Sin Asignar</span>")) : @Html.Raw("<span class='text-primary'>" + @can.Comision_Cantidad + "</span>"))</td>
                                        <td width="400" class="text-center">
                                            <button type="button" class="botonedit btn btn-info btn-sm mr-3">
                                                <i class="fa fa-edit text-warning"></i>&nbsp;&nbsp;Editar
                                            </button>
                                            <button type="button" class="botoncomi btn btn-primary btn-sm mr-3">
                                                <i class="fa fa-coins text-warning"></i>&nbsp;&nbsp;Comisión
                                            </button>
                                            <button type="button" class="botondel btn btn-danger btn-sm">
                                                <i class="fa fa-times text-warning"></i>&nbsp;&nbsp;Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
</section>


<div class="modal fade-scale" id="modalNuevoCanal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-7x fa-plus  text-warning"></i>&nbsp;&nbsp; Canal</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Mantenimiento", "Canal", FormMethod.Get, new { id = "Form2", onsubmit = "return validateForm2()" }))
                {
                    <div class="pl-4 pr-4 pt-1 pb-1">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h6>Sociedad :</h6>
                                    @Html.DropDownListFor(model => model.IdSociedad, ViewData["ListaSociedades"] as SelectList, new { @class = "form-control form-control-sm js-example-basic-single" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group" hidden>
                                    <h6>Código :</h6>
                                    @Html.TextBoxFor(model => model.IDCanal, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.IDCanal, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <h6>Nombre Canal :</h6>
                                    @Html.TextBoxFor(model => model.DescripcionCanal, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.DescripcionCanal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-building text-warning"></i>&nbsp;&nbsp;Guardar Datos
                        </button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade-scale" id="modalComision" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-7x fa-plus  text-warning"></i>&nbsp;&nbsp;Agregar Comisión</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("MantenimientoComision", "Canal", FormMethod.Get, new { id = "Form3", onsubmit = "return validateForm3()" }))
                {
                    <div class="pl-4 pr-4 pt-1 pb-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" hidden>
                                    <h6>DNI :</h6>
                                    @Html.TextBoxFor(model => model.Comision_IDCanal, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Comision_IDCanal, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <h6>Fecha Inicio :</h6>
                                    @Html.TextBoxFor(model => model.Comision_fechaInicio, new { @class = "form-control form-control-sm", @type = "date", @Value = System.DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.ValidationMessageFor(model => model.Comision_fechaInicio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h6>Fecha Fin :</h6>
                                    @Html.TextBoxFor(model => model.Comision_FechaFin, new { @class = "form-control form-control-sm", @type = "date", @Value = System.DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.ValidationMessageFor(model => model.Comision_FechaFin, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>Tipo Comisión :</h6>
                                    @Html.DropDownListFor(model => model.Comision_Idtipo, ViewData["ListaTipoComision"] as SelectList, new { @class = "form-control form-control-sm", name = "slcTipoComision" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h6>Cantidad :</h6>
                                    @Html.TextBoxFor(model => model.Comision_Cantidad, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        @*<button type="submit" class="btn btn-dark btn-sm">
                                <i class="fa fa-building text-warning"></i>&nbsp;&nbsp;Guardar Datos
                            </button>*@
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });


        var mensaje = "@TempData["mensaje"]";

        if (mensaje != "") {
            Swal.fire({
                icon: 'success',
                title: 'Excelente',
                html: mensaje,
                showCloseButton: true
            });
        }

    </script>

    <script>
        $(function () {

            $('#dglista').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "pageLength": 50,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });
    </script>
    <script>

        //$(document).ready(function () {
        //    $('#btnbuscar').click(function () {
        //        $('#loading').css('display', 'block');
        //    });
        //});

        //function isPostBack() {

        //    return document.referrer.indexOf(document.location.href) > -1;
        //}

        //if (!isPostBack()) {
        //    document.Form1.submit();
        //}

        $('#btnCanal').click(function () {
            $('#modalNuevoCanal').modal('show');
            document.getElementById("DescripcionCanal").value = "";
        });

        $(".botonedit").click(function () {
            txt1 = $(this).parents('tr').find("td:eq(0)").text().trim();
            txt2 = $(this).parents('tr').find("td:eq(1)").text().trim();

            document.getElementById("IDCanal").value = txt1;
            document.getElementById("DescripcionCanal").value = txt2;

            $('#modalNuevoCanal').modal('show');

        });

        $(".botoncomi").click(function () {
            txt1 = $(this).parents('tr').find("td:eq(0)").text().trim();
            document.getElementById("Comision_IDCanal").value = txt1;
            document.getElementById("Comision_Cantidad").value = "";

            $('#modalComision').modal('show');

        });

        $(".botondel").click(function (e) {
            txt = $(this).parents('tr').find("td:eq(0)").text();
            console.log(txt);

            e.preventDefault();
            Swal.fire({
                title: '¿Esta seguro(a) que desea eliminar el canal seleccionado?',
                text: "El canal será removido",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No'
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Eliminar", "Canal")',
                        data: {
                            'id': txt
                        },
                        success: function (data) {
                            if (data.success) {
                                var idso = document.getElementById("slcSociedad").value;
                                window.location = '@Url.Action("GetLista", "Canal")' + '?slcSociedad=' + idso +'&mensaje=Canal removido';
                            }
                        }

                    });
                } else {
                    //swal("Cancelado", "Acción Cancelada", "info");
                }
            })

        });



        function validateForm2() {
            var idcan = document.forms["Form2"]["IDCanal"].value.trim();
            var des = document.forms["Form2"]["DescripcionCanal"].value.trim();

            //---
            if (des == "" && idcan == "") {
                Swal.fire({
                    icon: 'info',
                    title: 'Advertencia',
                    text: 'No ha ingresado información del canal',
                    showCloseButton: true
                })
                return false;
            }
            //--
            if (des == "") {
                Swal.fire({
                    icon: 'info',
                    title: 'Advertencia',
                    text: 'Debe ingresar un nombre de Canal',
                    showCloseButton: true
                })
                return false;
            }

        }

        function validateForm3() {
            //--
            var cantidadComi = document.forms["Form3"]["Comision_Cantidad"].value.trim();
            //---
            if (cantidadComi == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: 'Ingrese comisión de Canal',
                    showCloseButton: true
                })
                return false;
            }
        }


    </script>



}

