@using Entidades;
@{
    ViewBag.Title = "Centros de Costo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
}
<div class="row">
    <div class="col-12">
        <div class="card card-gray">
            <div class="card-header">
                <div class="col text-left">
                    <h5 class="card-title">
                        <i class="fas fa-table"></i>
                        Centro de Costos
                    </h5>
                </div>
                <div class="col text-right">
                    <a class="btn btn-flat bg-primary btn-sm" href='@Url.Action("Crear", "CentroCostos")'>
                        <i class="fas fa-plus-circle text-warning"></i> Agregar
                    </a>
                </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="table-responsive">

                    <table id="dglista" class="table table-bordered table-hover">
                        <thead class="bg-primary">
                            <tr>
                                <th>Cliente</th>
                                <th>RUC</th>
                                <th>Centro Costo</th>
                                <th>Razon Social</th>
                                <th style="width: 100px">EDITAR</th>
                                <th style="width: 100px">ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ENSaludCentroCostos centrocostos in (List<ENSaludCentroCostos>)ViewBag.CentroCostos)
                            {
                                <tr>
                                    <td>@centrocostos.CodigoCliente</td>
                                    <td>@centrocostos.RUC</td>
                                    <td>@centrocostos.DescripcionCentroCosto </td>
                                    <td>@centrocostos.RazonSocial</td>
                                    <td class="project-actions text-center"  width="100px">
                                        <form action='@Url.Action("Eliminar", "CentroCostos", new {id = centrocostos.CodigoCentroCosto,idcliente=centrocostos.CodigoCliente})' method="POST"
                                              onsubmit="return confirm('¿Está seguro de eliminar el registro?');">
                                            @Html.AntiForgeryToken()
                                            <div class="text-center" role="group">
                                                <a class="btn btn-info btn-sm" href='@Url.Action("Crear", "CentroCostos", new {id = centrocostos.CodigoCentroCosto,idcliente=centrocostos.CodigoCliente})'>
                                                    <i class="fas fa-pencil-alt text-warning"></i>&nbsp;&nbsp;Editar
                                                </a>
                                                
                                            </div>
                                        </form>
                                    </td>
                                    <td class="project-actions text-center" width="100px">
                                        <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                            <i class="fas fa-times text-warning"></i>&nbsp;&nbsp;Eliminar
                                        </button>
                                    </td>  
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")

    <script>
        $(function () {

            $('#dglista').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": false,
                "lengthMenu": [[10, 50, -1], [10, 50, "Todos"]],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });
    </script>
}












