@using Entidades;
@model ENCanalesVendedores
@{
    ViewBag.Title = "Asignación de canal a vendedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}


<section>
    <input type="hidden" id="listaJson_ruta" name="name" value='@Url.Action("GetListaJSON", "Canal")' />
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("GetVendedoresSinAsignar", "Vendedor", FormMethod.Get, new { id = "Form1", name = "Form1", autocomplete = "off" }))
            {
                <div class="card card-primary card-outline shadow-lg">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-building"></i>
                            Sociedad
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col">
                                <div class="form">
                                    <label class="text-uppercase" for="txtdesde" hidden>Sociedad &nbsp;&nbsp;</label>
                                    @Html.DropDownList("slcSociedad", TempData["ListaSociedades"] as SelectList, new { @class = "form-control-sm js-example-basic-single", onchange = "SociedadChange(this)" })
                                    <button type="submit" id="btnbusca" class="btn btn-dark btn-sm">
                                        <i class="fa fa-search text-warning"></i>&nbsp;&nbsp;Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col">
            <div class="card card-primary card-outline shadow-lg">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list"></i>
                        Opciones
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col text-center">
                        <div class="col-md-12">
                            <div class="btn-group-justified">
                                <button type="button" id="btnVendedor" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Index","Vendedor")'">
                                    <i class="fa fa-user text-warning"></i>&nbsp;&nbsp;Ir Vendedores
                                </button>
                                <button type="button" id="btnVendedor" class="btn btn-success btn-sm" onclick="window.location.href='@Url.Action("Index","Canal")'">
                                    <i class="fa fa-building text-warning"></i>&nbsp;&nbsp;Ir Canales
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-primary card-outline shadow-lg">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-users"></i>
                        Vendedores Disponibles
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dglista" class="table table-bordered text-uppercase">
                                <thead class="bg-gradient-lightblue">
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>SOCIEDAD</th>
                                        <th>APELLIDO PATERNO</th>
                                        <th>APELLIDO MATERNO</th>
                                        <th>NOMBRES</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["Vendedores"] != null)
                                    {
                                        foreach (ENVendedores ven in (List<ENVendedores>)ViewData["Vendedores"])
                                        {
                                            <tr>
                                                <td>@ven.CodigoVendedor </td>
                                                <td>@ven.RazonSocial </td>
                                                <td>@ven.ApellidoPaterno </td>
                                                <td>@ven.ApellidoMaterno </td>
                                                <td>@ven.Nombres </td>
                                                <td class="text-center">
                                                    <button type="button" class="botonedit btn btn-info btn-sm">
                                                        <i class="fas fa-cart-plus text-warning"></i>&nbsp;&nbsp;Asignar Canal
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr class="border border-dark" />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dglista1" class="table table-bordered text-uppercase">
                                <thead class="bg-gradient-lightblue">
                                    <tr>
                                        <th hidden>CODIGO CANAL</th>
                                        <th hidden>CODIGO VENDEDOR</th>
                                        <th>CANAL</th>
                                        <th>VENDEDOR</th>
                                        <th>FECHA INICIO</th>
                                        <th>FECHA FIN</th>
                                        <th>T.COMISION VENDEDOR</th>
                                        <th>C.COMISION VENDEDOR</th>
                                        <th>T.COMISION CANAL</th>
                                        <th>C.COMISION CANAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewData["Asignados"] != null)
                                    {
                                        foreach (ENCanalesVendedores ven in (List<ENCanalesVendedores>)ViewData["Asignados"])
                                        {
                                            <tr>
                                                <td hidden>@ven.CV_IDCanal </td>
                                                <td hidden>@ven.CV_CodigoVendedor </td>
                                                <td>@ven.CV_DescripcionCanal </td>
                                                <td>@ven.CV_Vendedor </td>
                                                <td>@ven.CV_FechaInicioCanalVendedor </td>
                                                <td>@ven.CV_FechaFinCanalVendedor </td>
                                                <td>@((@ven.Vendedor_TipoComi == "") ? @Html.Raw(HttpUtility.HtmlDecode("<span class='text-danger'>Sin Asignar</span>")) : @Html.Raw("<span class='text-primary'>"+ @ven.Vendedor_TipoComi + "</span>"))</td>
                                                <td>@((@ven.Vendedor_CantComi == "0") ? @Html.Raw(HttpUtility.HtmlDecode("<span class='text-danger'>Sin Asignar</span>")) : @Html.Raw("<span class='text-primary'>"+ @ven.Vendedor_CantComi + "</span>"))</td>
                                                <td>@((@ven.Canal_TipoComi == "") ? @Html.Raw(HttpUtility.HtmlDecode("<span class='text-danger'>Sin Asignar</span>")) : @Html.Raw("<span class='text-primary'>"+ @ven.Canal_TipoComi + "</span>"))</td>
                                                <td>@((@ven.Canal_CantComi == "0") ? @Html.Raw(HttpUtility.HtmlDecode("<span class='text-danger'>Sin Asignar</span>")) : @Html.Raw("<span class='text-primary'>"+ @ven.Canal_CantComi + "</span>"))</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
    </div>
</section>

<div class="modal fade-scale" id="modalAsignacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-7x fa-plus  text-warning"></i>&nbsp;&nbsp;Asignar Canal</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Asignar", "Vendedor", FormMethod.Post, new { id = "Form2", name = "Form2", autocomplete = "off", onsubmit = "return validateForm()" }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-uppercase" for="txtdesde" hidden>CANAL &nbsp;&nbsp;</label>
                                <select id="slcCanales" name="slcCanales" class="form-control-sm js-example-basic-single" style="width:100%;" onchange="CanalChange(this)">
                                    <option value="">-- CANALES --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" hidden>
                                <h6>SOCIEDAD</h6>
                                @Html.TextBoxFor(m => m.CV_IdSociedad, new { @class = "form-control form-control-sm" })
                            </div>
                            <div class="form-group" hidden>
                                <h6>CANAL</h6>
                                @Html.TextBoxFor(m => m.CV_IDCanal, new { @class = "form-control form-control-sm" })
                            </div>
                            <div class="form-group">
                                <h6>Fecha Desde</h6>
                                @Html.TextBoxFor(m => m.CV_FechaInicioCanalVendedor,
                        new { @class = "form-control form-control-sm", @type = "date" , @Value = System.DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="form-group">
                                <h6>Fecha Hasta</h6>
                                @Html.TextBoxFor(m => m.CV_FechaFinCanalVendedor,
                        new { @type = "date", @class = "form-control form-control-sm" , @Value = System.DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="form-group" hidden>
                                <h6>Vendedor</h6>
                                @Html.TextBoxFor(m => m.CV_CodigoVendedor, new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-sm">
                            <i class="fa fa-building text-warning"></i>&nbsp;&nbsp;Guardar Datos
                        </button>
                    </div>
                }
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>*@
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>

    <script>
        $(function () {

            $('#dglista').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "pageLength": 5,
                "searching": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });

            $('#dglista1').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "pageLength": 5,
                "searching": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $("#slcSociedad").change();
        });

        function CanalChange(control) {
            var canal = control.value;
            document.getElementById("CV_IDCanal").value = canal;
        }

        function SociedadChange(control) {
            //var msg = control.value == "100" ? "Having a Baby!!" : "Common message";
            //document.getElementById("message").innerHTML = msg;
            var ddlCanales = $("#slcCanales");
            var ddlCanales1 = $("#slcCanales1");

            var soci = document.getElementById("slcSociedad").value;
            document.getElementById("CV_IdSociedad").value = soci;
            var url_method = $('#listaJson_ruta').val();

            $.ajax({
                type: "GET",
                url: url_method,
                data: {
                    'slcSociedad': control.value
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    ddlCanales.empty().append('<option selected="selected" value="">-- CANALES --</option>');
                    $.each(response, function () {
                        ddlCanales.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });

                    ddlCanales1.empty().append('<option selected="selected" value="">-- CANALES --</option>');
                    $.each(response, function () {
                        ddlCanales1.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });


                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

        $(".botonedit").click(function () {
            var vendedor = $(this).parents('tr').find("td:eq(0)").text().trim();
            document.getElementById("CV_CodigoVendedor").value = vendedor;

            $('#modalAsignacion').modal('show');

        });

        function validateForm() {
            //--
            var valueselect = document.forms["Form2"]["slcCanales"].value.trim();
            //---
            if (valueselect == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: 'Debe escoger un Canal',
                    showCloseButton: true
                })
                return false;
            }
        }

        

    </script>



}