@using Entidades;
@{
    ViewBag.Title = "Canales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-table"></i>
                    Mantenimiento de Canales
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a class="btn btn-app" href='@Url.Action("AddorEdit", "Canales")'>
                    <i class="fas fa-file"></i> Agregar
                </a>
                <div class="table-responsive">
                    <table id="dglista" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Sociedad</th>
                                <th style="width: 15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ENCanales canal in (List<ENCanales>)ViewBag.Canales)
                            {
                                <tr>
                                    <td>@canal.DescripcionCanal </td>
                                    <td>@canal.RazonSocial</td>
                                    <td class="project-actions text-center">
                                        <form action='@Url.Action("Eliminar", "Canales", new {id = canal.IDCanal})' method="POST"
                                              onsubmit="return confirm('¿Está seguro de eliminar el registro?');">
                                            @Html.AntiForgeryToken()
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-info btn-sm" href='@Url.Action("AddorEdit", "Canales", new {id = canal.IDCanal})'>
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Editar
                                                </a>
                                                <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Eliminar
                                                </button>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")

    <script>
        $(function () {

            $('#dglista').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": false,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });
    </script>
}












@*<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Canales")')"><i class="fa fa-plus"></i>Agregar</a>
    <table id="TablaLista" class="display table-bordered">
        <thead>
            <tr style="background-color:#3d566e; color:#ecf0f1">
                <th>Descripcion</th>
                <th>Sociedad</th>
                <th></th>
            </tr>
        </thead>
    </table>

     Normal
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/scroller/2.0.2/css/scroller.dataTables.min.css"></script>

        <script>
        var Popup, dataTable;
        $(document).ready(function () {

            dataTable = $("#TablaLista").DataTable
                ({
                    "ajax": {
                        "url": "/Canales/GetLista",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "DescripcionCanal" },
                        { "data": "RazonSocial" },
                        { "data": "IDCanal" , "render" : function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Canales")/" + data + "')><i class='fa fa-pencil'></i> </a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> </a>";
                        },
                            "orderable": false,
                            "searchable":false,
                            "width":"150px"
                        }
                    ],
                    "language":
                    {
                        "emptyTable": "Sin datos  en la tabla.",
                        "info": "Del _START_ al _END_ de _TOTAL_ ",
                        "infoEmpty": "Mostrando 0 registros de un total de 0.",
                        "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                        "infoPostFix": "",
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "searchPlaceholder": "",
                        "zeroRecords": "No se han encontrado coincidencias.",
                        "paginate": {
                            "first": "<<",
                            "last": ">>",
                            "next": ">",
                            "previous": "<"
                        },
                        "aria": {
                            "sortAscending": "Ordenación ascendente",
                            "sortDescending": "Ordenación descendente"
                        }
                    },
                    "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]]
                }
            );

            });

            function PopupForm(url) {
                var formDiv = $('<div/>');
                $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Datos del Canal',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
            }

            function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if($(form).valid()){
                    $.ajax({
                        type : "POST",
                        url : form.action,
                        data : $(form).serialize(),
                        success : function (data) {
                            if(data.success)
                            {
                                Popup.dialog('close');
                                dataTable.ajax.reload();

                                $.notify(data.message,{
                                    globalPosition :"top center",
                                    className : "success"
                                })

                            }
                        }
                    });
                }
                return false;
            }

            function Delete(id) {
                if(confirm('Desea Eliminar el Canal ?'))
                {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Canales")/' + id,
                        success: function (data) {
                            if (data.success)
                            {
                                dataTable.ajax.reload();
                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                        }

                    });
                }
            }

        </script>
    }*@


