@model Entidades.ENUsuario
@{
    //ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}
<div class="container">
    <div class="m-auto m-0">
        <!-- left column -->
        <div class="row">
            <!-- jquery validation -->
            <div class="col-md-6 m-auto m-0">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Información Usuario<small>&nbsp;&nbsp;(Editar)</small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Crear", "Usuario", FormMethod.Post, new { id = "frmUsuario", onsubmit = "return validateForm()" }))
                    {

                        @Html.HiddenFor(m => m.int_IdUsuario)
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="form-group">
                                <label for="txtNombre">Nombre</label>
                                @*<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                                @Html.TextBoxFor(m => m.var_Nombre, new { id = "txtNombre", @class = "form-control", @placeholder = "Ingrese nombre" })
                            </div>
                            <div class="form-group">
                                <label for="txtApellidos">Apellidos</label>
                                @*<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                                @Html.TextBoxFor(m => m.var_Apellidos, new { id = "txtApellidos", @class = "form-control", @placeholder = "Ingrese Apellido" })
                            </div>
                            <div class="form-group">
                                <label for="txtDNI">DNI</label>
                                @*<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                                @Html.TextBoxFor(m => m.var_DNI, new { type = "number", id = "txtDNI", @class = "form-control", @placeholder = "Ingrese DNI" })
                            </div>
                            <div class="form-group">
                                <label>Sexo</label>
                                <select class="form-control" name="bit_Sexo">
                                    <option value="default">Seleccione</option>
                                    <option value="true" @((Model.bit_Sexo == true) ? "selected='selected'" : "")>Masculino</option>
                                    <option value="false" @((Model.bit_Sexo == false) ? "selected='selected'" : "")>Femenino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Fecha de Nacimiento:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    @*<input type="date" class="form-control float-right" id="txtFechaNacimiento" name="dtm_FechaNacimiento">*@
                                    @Html.TextBoxFor(m => m.dtm_FechaNacimiento, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFechaNacimiento", @class = "form-control float-right" })
                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="form-group">
                                <label for="txtMail">Correo Electrónico</label>
                                @*<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                                @Html.TextBoxFor(m => m.var_Mail, new { Id = "txtMail", @class = "form-control", @placeholder = "Ingrese correo electronico" })
                            </div>
                            <div class="form-group">
                                <label for="txtPassword">Password</label>
                                @*<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                                @Html.TextBoxFor(m => m.var_Password, new { Id = "txtPassword", @class = "form-control", @placeholder = "Contraseña", @type = "password" })
                            </div>
                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="int_Estado" class="custom-control-input" id="exampleCheck1" value="1" @((Model.int_Estado == 1) ? "checked='checked'" : "")>
                                    <label class="custom-control-label" for="exampleCheck1">Activo</label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">
                                <i class="fas fa-save text-warning"></i>&nbsp;&nbsp;Grabar
                            </button>
                            <a href='@Url.Action("Index", "Usuario")' class="btn btn-default float-right">
                                <i class="fas fa-times text-warning"></i>&nbsp;&nbsp;Cancelar
                            </a>
                        </div>

                    }
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

</div><!-- /.container-fluid -->
@section Scripts {

    @Scripts.Render("~/Content/plugins/jquery-validation/jquery.validate.min.js")
    @Scripts.Render("~/Content/plugins/jquery-validation/additional-methods.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")

    <script type="text/javascript">
@*import { compareByFieldSpec } from "@fullcalendar/core";*@

        function validateForm() {
            var nombres = document.forms["frmUsuario"]["txtNombre"].value;
            var apellidos = document.forms["frmUsuario"]["txtApellidos"].value.trim();
            var dni = document.forms["frmUsuario"]["txtDNI"].value.trim();
            var nacimiento = document.forms["frmUsuario"]["txtFechaNacimiento"].value.trim();
            var mail = document.forms["frmUsuario"]["txtMail"].value.trim();
            var contrase = document.forms["frmUsuario"]["txtPassword"].value.trim();
            //---

            if (nombres == "" && apellidos == "" && dni == "" && nacimiento == "" && mail == "" && contrase == "" ) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado información válida',
                    showCloseButton: true
                })
                return false;
            }
            //--
            if (nombres == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado nombres',
                    showCloseButton: true
                })
                return false;
            }
            if (apellidos == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado apellidos',
                    showCloseButton: true
                })
                return false;
            }
            if (dni == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado DNI',
                    showCloseButton: true
                })
                return false;
            }
            if (nacimiento == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado fecha de nacimiento',
                    showCloseButton: true
                })
                return false;
            }
            if (mail == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado correo electrónico',
                    showCloseButton: true
                })
                return false;
            }
            if (contrase == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado contraseña',
                    showCloseButton: true
                })
                return false;
            }

        }
    </script>
}