@using Entidades;
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline shadow-lg">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-table"></i>
                    Mantenimiento de Usuarios
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="text-white">
                    <a class="btn btn-app bg-gradient-secondary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-plus-circle text-warning" style="font-size: 14px;"></i> Agregar
                    </a>
                </div>

                <table id="example2" class="table table-bordered">
                    <thead class="bg-gradient-lightblue">
                        <tr>
                            <th>Usuario</th>
                            <th>DNI</th>
                            <th>Correo Electronico</th>
                            <th style="width: 8%">Sexo</th>
                            <th style="width: 8%">Estado</th>
                            <th style="width: 15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ENUsuario usuario in (List<ENUsuario>)ViewBag.Usuarios)
                        {
                            <tr>
                                <td>@usuario.var_Nombre @usuario.var_Apellidos</td>
                                <td>
                                    @usuario.var_DNI
                                </td>
                                <td>
                                    @usuario.var_Mail
                                </td>
                                <td>
                                    @if (usuario.bit_Sexo == true)
                                    {
                                        <span class="badge bg-primary badge-btn">Masculino</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-warning badge-btn">Femenino</span>
                                    }

                                </td>

                                <td>
                                    @if (usuario.int_Estado == 1)
                                    {
                                        <span class="badge bg-success badge-btn">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger badge-btn">Inactivo</span>
                                    }
                                </td>
                                <td class="project-actions text-center">
                                    <form action='@Url.Action("Eliminar", "Usuario", new {id = usuario.int_IdUsuario})' method="POST"
                                          onsubmit="return confirm('¿Está seguro de eliminar el usuario?');">
                                        @Html.AntiForgeryToken()
                                        <div class="text-center">
                                            <a class="btn btn-info btn-sm" href='@Url.Action("Crear", "Usuario", new {id = usuario.int_IdUsuario})'>
                                                <i class="fas fa-pencil-alt text-warning"></i>&nbsp;&nbsp;Editar
                                            </a>
                                            <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                                <i class="fas fa-times text-warning"></i>&nbsp;&nbsp;Eliminar
                                            </button>
                                        </div>
                                    </form>

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
<!-- Modal -->
@Html.Partial("_UsuarioCrear", new ENUsuario() { int_Estado = 1 })

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")

    <script>
        $(function () {

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });
    </script>
}