@model Entidades.ENUbigeoCompleto
<div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.CodigoDpto, "Departamento", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CodigoDpto", null, new { id = "drpDepartamento", @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(model => model.CodigoDpto)
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.CodigoProv, "Provincia", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CodigoProv", null, new { id = "drpProvincia", @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(model => model.CodigoProv)
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.CodigoDist, "Distrito", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CodigoDist", null, new { id = "drpDistrito", @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(model => model.CodigoDist)
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#drpDepartamento').change(function () {
                $.ajax({
                    type: "post",
                    url: "/SCTRCotizacion/GetProvincia",
                    data: { dptoid: $('#drpDepartamento').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var provincia = "<select id='CodigoProv'>";
                        provincia = provincia + '<option value="">--Seleccionar--</option>';
                        for (var i = 0; i < data.length; i++) {
                            provincia = provincia + '<option value=' + data[i].CodigoProv + '>' + data[i].DescripcionProv + '</option>';
                        }
                        provincia = provincia + '</select>';
                        $('#drpProvincia').html(provincia);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#drpProvincia').change(function () {
                $.ajax({
                    type: "post",
                    url: "/SCTRCotizacion/GetDistrito",
                    data: { dptoid: $('#drpDepartamento').val(), provid: $('#drpProvincia').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var district = "<select id='CodigoDist'>";
                        district = district + '<option value="">--Seleccionar--</option>';
                        for (var i = 0; i < data.length; i++) {
                            district = district + '<option value=' + data[i].CodigoDist + '>' + data[i].DescripcionDist + '</option>';
                        }
                        district = district + '</select>';
                        $('#drpDistrito').html(district);
                    }
                });
            });
        });
    </script>




}
