@model Entidades.ENClientes
@{
    ViewBag.Title = "Registro de Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Crear", "Clientes", FormMethod.Post, new { id = "Form", onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2">
            <div class="card card-info card-outline shadow-lg sticky-top">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-th-list"></i>
                        Opciones
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center pt-2 pb-2">
                        <div class="col col-md-7">
                            <button type="submit" class="btn btn-app bg-gradient-info">
                                <i class="fa fa-save text-warning"></i>&nbsp;&nbsp;Guardar
                            </button>
                        </div>
                        <div class="col col-md-7">
                            <a href='@Url.Action("Crear", "Clientes")' class="btn btn-app bg-gradient-secondary">
                                <i class="fa fa-file-signature text-warning"></i>&nbsp;&nbsp;Limpiar
                            </a>
                        </div>
                        <div class="col col-md-7">
                            <a href='@Url.Action("Index", "Clientes")' class="btn btn-app bg-gradient-danger">
                                <i class="fa fa-arrow-left text-warning"></i>&nbsp;&nbsp;Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-auto col-md-10">
            <div class="card card-primary card-outline shadow-lg">
                <div class="card-header">
                    <h5 class="card-title">Contratante</h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-link active"><a data-toggle="tab" href="#DatosGenerales">DATOS GENERALES</a></li>
                        <li class="nav-link"><a data-toggle="tab" href="#MediosdePago">MEDIOS DE PAGO</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="DatosGenerales" class="tab-pane p-3 border-left border-default active">
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-4">
                                    <div class="form-group" hidden>
                                        <label for="txtCodigoCliente">Código Cliente</label>
                                        @Html.TextBoxFor(model => model.CodigoCliente, new { id = "txtCodigoCliente", @class = "form-control form-control-sm", @placeholder = "", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CodigoTipoCliente, "Tipo Cliente :", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CodigoTipoCliente", null, new { id = "drpTipoCliente", @class = "form-control-sm js-example-responsive", @style = "width:100%", @onchange = "callChangeRazonSocialNombre(this)" })
                                        @Html.ValidationMessageFor(model => model.CodigoTipoCliente)
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtRucDni">Tipo Documento:</label>
                                        @Html.DropDownListFor(model => model.CodigoDocumentoIdentidad, null, new { id = "drpTipoDocumento", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtRucDni">RUC / DNI:</label>
                                        @Html.TextBoxFor(model => model.RucDni, new { id = "txtRucDni", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-8" id="RS">
                                    <div class="form-group">
                                        <label for="txtRazonSocial">RazonSocial :</label>
                                        @Html.TextBoxFor(model => model.RazonSocial, new { id = "txtRazonSocial", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4" id="NC">
                                    <div class="form-group">
                                        <label for="txtNombreCorto">NombreCorto</label>
                                        @Html.TextBoxFor(model => model.NombreCorto, new { id = "txtNombreCorto", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4" id="NN">
                                    <div class="form-group">
                                        <Label for="txtApellidosNombres">Nombres :</Label>
                                        @Html.TextBoxFor(model => model.Nombres, new { id = "txtApellidosNombres", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4" id="AP">
                                    <div class="form-group">
                                        <Label for="txtApellidoPaterno">Apellido Paterno :</Label>
                                        @Html.TextBoxFor(model => model.Paterno, new { id = "txtApellidoPaterno", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4" id="AM">
                                    <div class="form-group">
                                        <Label for="txtApellidoMaterno">Apellido Materno :</Label>
                                        @Html.TextBoxFor(model => model.Materno, new { id = "txtApellidoMaterno", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CodigoDpto, "Departamento", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CodigoDpto", null, new { id = "drpDepartamento", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.CodigoDpto)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CodigoProv, "Provincia", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CodigoProv", null, new { id = "drpProvincia", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.CodigoProv)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CodigoDist, "Distrito", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CodigoDist", null, new { id = "drpDistrito", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.CodigoDist)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtTelefono1">Telefono1</label>
                                        @Html.TextBoxFor(model => model.Telefono1, new { id = "txtTelefono1", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtTelefono2">Telefono2</label>
                                        @Html.TextBoxFor(model => model.Telefono2, new { id = "txtTelefono2", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtPaginaWeb">PaginaWeb</label>
                                        @Html.TextBoxFor(model => model.PaginaWeb, new { id = "txtPaginaWeb", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtCodigoCotizacion">Dirección</label>
                                        @Html.TextBoxFor(model => model.Direccion, new { id = "txtDireccion", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="txtPersonaContacto">PersonaContacto :</label>
                                        @Html.TextBoxFor(model => model.PersonaContacto, new { id = "txtPersonaContacto", @class = "form-control form-control-sm", @placeholder = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="MediosdePago" class="tab-pane p-3 border-left border-default fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Tarjetas</h5>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div id="accordion" class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0 well">
                                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <img src="~/Images/visa.png" />&nbsp;&nbsp;*****890
                                                </a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Agregar Tarjeta</h5>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a href='@Url.Action("Crear", "Clientes")' class="btn btn-default btn-sm bg-gradient-secondary">
                                            <i class="fa fa-file-signature text-warning"></i>&nbsp;&nbsp;Agregar Tarjeta de débito o crédito
                                        </a>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")


    <script>
        $(document).ready(function () {
            //$('.js-example-basic-single').select2();
            $(".js-example-responsive").select2({
                width: 'resolve' // need to override the changed default
            });
            const combito = document.getElementById("drpTipoCliente");
            callChangeRazonSocialNombre(combito);
        });

        function callChangeRazonSocialNombre(combo)
        {
            const razonSocial = document.getElementById("RS");
            const nombreCorto = document.getElementById("NC");
            const nombres = document.getElementById("NN");
            const apellidoPaterno = document.getElementById("AP");
            const apellidoMaterno = document.getElementById("AM");
                                    
            console.log(combo.value);
            if (combo.value === "01")
            {
                razonSocial.removeAttribute("hidden");
                nombreCorto.removeAttribute("hidden");
                nombres.setAttribute("hidden", "");
                apellidoPaterno.setAttribute("hidden", "");
                apellidoMaterno.setAttribute("hidden", "");
                $("#drpTipoDocumento").val("08").change();
                $("#drpTipoDocumento").attr("disabled", "true");
            }
            else
            {
                razonSocial.setAttribute("hidden", "");
                nombreCorto.setAttribute("hidden", "");
                nombres.removeAttribute("hidden");
                apellidoPaterno.removeAttribute("hidden");
                apellidoMaterno.removeAttribute("hidden");
                $("#drpTipoDocumento").val("01").change();
                $("#drpTipoDocumento").removeAttr("disabled");
            }
        }


        function validateForm() {
            var rucDNI = document.forms["Form"]["txtRucDni"].value.trim();
            const combito = document.getElementById("drpTipoCliente");
            console.log(combito.value);
            //---

            if (rucDNI == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    html: 'Ingrese número de documento RUC/DNI',
                    showCloseButton: true,
                });
                return false;
            }

            if (combito.value === "01") { 
                var razonSocial = document.forms["Form"]["txtRazonSocial"].value.trim();
                //---
                if (razonSocial == "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Advertencia',
                        html: 'Ingrese Razón Social',
                        showCloseButton: true,
                    });
                    return false;
                }
                //---
            }
            else
            {
                var Nombres = document.forms["Form"]["txtApellidosNombres"].value.trim();
                var apellidosPaterno = document.forms["Form"]["txtApellidoPaterno"].value.trim();
                var apellidoMaterno = document.forms["Form"]["txtApellidoMaterno"].value.trim();
                //---
                if (Nombres == "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Advertencia',
                        html: 'Ingrese Nombres',
                        showCloseButton: true,
                    });
                    return false;
                }
                //---
                if (apellidosPaterno == "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Advertencia',
                        html: 'Ingrese apellido paterno',
                        showCloseButton: true,
                    });
                    return false;
                }
                //---
                if (apellidoMaterno == "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Advertencia',
                        html: 'Ingrese apellido materno',
                        showCloseButton: true,
                    });
                    return false;
                }
            }

            
            
        }

    </script>

    <script src="~/Scripts/Comandos.js"></script>


}
