@using Entidades;
@model Entidades.ENClientes
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}
<div class="row">
    <div class="col-md-2">
        <div class="card card-info card-outline shadow-lg sticky-top">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-th-list"></i>
                    Opciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row text-center pt-2 pb-2">
                    <div class="col-md-12">
                        <div class="form">
                            <a class="btn btn-app bg-gradient-secondary" href='@Url.Action("Crear", "Clientes")'>
                                <i class="fas fa-plus-circle text-warning" style="font-size: 14px;"></i> Agregar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card card-primary card-outline shadow-lg">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-table"></i>
                    Lista de Clientes
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body ">
                @using (Html.BeginForm("Index", "Clientes", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="drpTipoCliente">Tipo Cliente:</label>
                                <input type="hidden" id="hdCodigoTipoCliente" name="hdCodigoTipoCliente" />
                                @Html.DropDownList("CodigoTipoCliente", null, new { id = "drpTipoCliente", @class = "form-control-sm js-example-responsive", @style = "width:100%", @onchange = "callChangeGetValor(this)" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="drpTipoCliente">Búsqueda:</label>
                                <input type="text" id="txtBusquedaClientes" class="form-control form-control-sm" name="txtBusquedaClientes" placeholder="RUC | DNI | Nombres y Apellidos | Razón Social" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label style="visibility:hidden;">Búsqueda:</label>
                                <div>
                                    <button type="submit" class="btn btn-dark btn-sm">
                                        <i class="fa fa-search-plus text-warning"></i>&nbsp;&nbsp;Buscar Cliente
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <label class="text-primary" style="font-size:9pt">Cantidad de registros disponibles @Convert.ToInt32(ViewData["todos"])</label>

                    <table id="dglista" class="table table-bordered table-hover">
                        <thead class="bg-gradient-lightblue">
                            <tr>
                                <th>Codigo</th>
                                <th>RUC</th>
                                <th>Razón Social</th>
                                <th>Paterno</th>
                                <th>Materno</th>
                                <th>Nombres</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                @*<th>Contacto</th>
                        <th>Email</th>*@
                                <th>TipoCliente</th>
                                @*<th>Corredor</th>
                        <th>Ejecutivo</th>*@
                                <th style="width: 10%">Editar</th>
                                <th style="width: 10%">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ENClientes Clientes in (List<ENClientes>)ViewBag.Clientes)
                            {
                                <tr>
                                    <td>@Clientes.CodigoCliente </td>
                                    <td>@Clientes.RucDni </td>
                                    <td>@Clientes.RazonSocial </td>
                                    <td>@Clientes.Paterno </td>
                                    <td>@Clientes.Materno </td>
                                    <td>@Clientes.Nombres </td>
                                    <td>@Clientes.Direccion </td>
                                    <td>@Clientes.Telefono1 </td>
                                    <td>@Clientes.CodigoTipoCliente </td>
                                    <td class="project-actions text-center">
                                        <a class="btn btn-info btn-sm" href='@Url.Action("Crear", "Clientes", new {id = Clientes.CodigoCliente})'>
                                            <i class="fas fa-pencil-alt text-warning"></i>&nbsp;Editar
                                        </a>
                                    </td>
                                    <td class="project-actions text-center">
                                        <form action='@Url.Action("Eliminar", "Clientes", new {id = Clientes.CodigoCliente})' method="POST"
                                              onsubmit="return confirm('¿Está seguro de eliminar el registro?');">
                                            @Html.AntiForgeryToken()
                                            <div class="text-center" role="group">
                                                <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                                    <i class="fas fa-times text-warning"></i>&nbsp;Eliminar
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <hr />
                    <ul class="pagination">
                        <li class="page-item success">
                            <a class="page-link" href="@Url.Action("Index", new { page = 1 })">Primero</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Convert.ToInt32(ViewData["pageCount"]) - 1 })"><i class="fa fa-arrow-left text-primary"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Convert.ToInt32(ViewData["pageCount"]) + 1 })"><i class="fa fa-arrow-right text-primary"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Convert.ToInt32(ViewData["ultimo"]) + 1 })">Último</a>
                        </li>
                    </ul>

                }
            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")

<script>

        $(document).ready(function () {
            //$('.js-example-basic-single').select2();
            $(".js-example-responsive").select2({
                width: 'resolve' // need to override the changed default
            });
            const combito = document.getElementById("drpTipoCliente");
            callChangeGetValor(combito);
            var valor = "@ViewBag.IdNombreTabla";
            //console.log(valor);
            $("#drpTipoCliente").val(valor).trigger('change');
        });

        function callChangeGetValor(combo) {
            let valor = "";
            const idTipoCliente = document.getElementById("hdCodigoTipoCliente");
            idTipoCliente.value = combo.value;
            valor = idTipoCliente.value
            //console.log(valor);
        }

        $(function () {

            $('#dglista').DataTable({
                "scrollY": "450px",
                "scrollCollapse": true,
                "paging": false,
                "lengthChange": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                //"lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                pageLength: 10,
                "searching": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });


        var mensaje = "@ViewBag.Message";
        mostrarMensaje(mensaje);

</script>
}