@using Entidades;
@model Salud.ViewModels.VMAfiliacion
@{
    ViewBag.Title = "Afiliaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}

<div class="row">
    <input type="hidden" id="obtener_ruta" name="name" value='@Url.Action("Obtener", "SaludContratos")' />
    <input type="hidden" id="ValidarPlanes_ruta" name="name" value='@Url.Action("ValidarPlanes", "SaludAsegurados")' />
    <input type="hidden" id="saludAsegurados_ruta" name="name" value='@Url.Action("getSaludAsegurados", "SaludAsegurados")' />
    <input type="hidden" id="soloAsegurados_ruta" name="name" value='@Url.Action("getSoloAsegurados", "SaludAsegurados")' />

    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card card-gray card-gray shadow-lg">
                <div class="card-header">
                    <div class="col">
                        <div class="text-center">
                            <h5 class="card-title"><i class="fas fa-file-signature text-white text-bold"></i>&nbsp;&nbsp;CONTRATOS DISPONIBLES</h5>
                        </div>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div Class="form-group">
                                @Html.LabelFor(model => model.VMCliente.CodigoCliente, "CONTRATANTE :", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("CodigoCliente", null, new { id = "drpCodigoCliente", @class = "js-example-responsive", @style = "width:100%", @onchange = "callChangefunc(this.value)" })
                                @Html.ValidationMessageFor(model => model.VMCliente.CodigoCliente)
                            </div>
                        </div>
                        <div Class="col-md-4" hidden>
                            <div Class="form-group">
                                <Label for="txtCodigoContrato">CodigoContrato</Label>
                                @Html.TextBox("CodigoContrato", new { id = "txtCodigoContrato", @class = "form-control form-control-sm", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div Class="form-group">
                                @*<Label for="txtCodigoContrato">CONTRATOS DISPONIBLES :</Label>*@
                                @Html.LabelFor(model => model.VMContrato.CodigoContrato, "CONTRATOS DISPONIBLES :", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("CodigoCliente", null, new { id = "drpCodigoContrato", @class = "form-control js-example-responsive", @style = "width:100%", @onchange = "callChangeContrato(this.value)" })
                                @Html.ValidationMessageFor(model => model.VMContrato.CodigoContrato)
                                @*<select id="drpCodigoContrato" class="form-control js-example-responsive" style="width:100%" onchange="callChangeContrato(this.value)">
                                    </select>*@
                            </div>
                        </div>
                        <div Class="col-md-2">
                            <div Class="form-group">
                                <Label for="txtInicioVigencia">InicioVigencia</Label>
                                @Html.TextBoxFor(model => model.VMContrato.InicioVigencia, new { type = "date", id = "txtInicioVigencia", @class = "form-control form-control-sm", @placeholder = "", @readonly = "readonly" })
                                @*@Html.TextBox("InicioVigencia", "", new { type = "date", id = "txtInicioVigencia", @class = "form-control form-control-sm float-right", @readonly = "readonly" })*@

                            </div>
                        </div>
                        <div Class="col-md-2">
                            <div Class="form-group">
                                <Label for="txtFinVigencia">FinVigencia</Label>
                                @Html.TextBoxFor(model => model.VMContrato.FinVigencia, new { type = "date", id = "txtFinVigencia", @class = "form-control form-control-sm", @placeholder = "", @readonly = "readonly" })
                                @*@Html.TextBox("FinVigencia", "", new { type = "date", id = "txtFinVigencia", @class = "form-control form-control-sm float-right", @readonly = "readonly" })*@
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <a href='@Url.Action("Index", "SaludAsegurados")' class="btn btn-flat btn-sm bg-gradient-danger">
                                <i class="fas fa-arrow-left text-warning"></i>&nbsp;&nbsp;Regresar
                            </a>
                        </div>
                        <div class="col text-right">
                            <button id="btnAgregarAfiliado" onclick="ValidarPlanes();" class="btn btn-flat btn-sm bg-gradient-success" data-request-url="@Url.Action("Mantenimiento", "SaludAsegurados")">
                                <i class="fas fa-cart-plus text-warning"></i>&nbsp;&nbsp; Afiliar Grupo Familiar
                            </button>
                            <button onclick="getSAsegurados();" class="btn btn-flat btn-sm bg-gradient-success" hidden>
                                <i class="fas fa-file-excel text-warning"></i>&nbsp;&nbsp;Carga Masiva
                            </button>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr />
                    <h5 class="card-title"><i class="fas fa-file text-primary text-bold text-sm"></i>&nbsp;&nbsp;Asegurados disponibles&nbsp;&nbsp;<i class="fas fa-arrow-right text-danger"></i>&nbsp;&nbsp;<label id="contratoLabel" class="text-primary"></label> </h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <hr />
                    <div class="row">
                        <div Class="col-md-12">
                            <div class="table-responsive">
                                <table id="dglistaAsegurados" class="table table-bordered">
                                    <thead class="bg-gradient-lightblue">
                                        <tr>
                                            <th>CODIGO CLIENTE</th>
                                            <th>CODIGO TITULAR</th>
                                            <th>AFILIADOS (APELLIDOS Y NOMBRES)</th>
                                            <th>NACIMIENTO</th>
                                            <th>EDAD</th>
                                            <th>FCHALTA</th>
                                            <th>FCHBAJA</th>
                                            <th>ESTADO</th>
                                            <th>VER</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" hidden>
            <div class="card card-primary card-outline shadow-lg">
                <div class="card-header">
                    <h5 class="card-title"><i class="fas fa-file text-primary"></i>&nbsp;&nbsp;Asegurados por Contrato&nbsp;&nbsp;<i class="fas fa-arrow-right text-danger"></i>&nbsp;&nbsp;<label id="contratoLabel" class="text-primary"></label> </h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">


                        </div>
                    </div>

                </div>
                <!-- ./card-body -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")


    @if (TempData["ReceivedId"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var mensaje = "@TempData["ReceivedId"]";
                mostrarMensaje(mensaje);
            };
        </script>
    }

    <script>
        $(function () {
            var tablaLista = $('#dglistaAsegurados').DataTable({
                destroy: true,
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": false,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "pageLength": 50,
                "searching": true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });


        $(document).ready(function () {
            //$('.js-example-basic-single').select2();
            $(".js-example-responsive").select2({
                theme: "classic",
                placeholder: 'Selecciona una opción',
                width: 'resolve' // need to override the changed default
            });
            callChangefunc(document.getElementById('drpCodigoCliente').value);
        });


        function callChangefunc(id) {
            const codContrato = document.getElementById('drpCodigoContrato');
            var url_method = $('#obtener_ruta').val();

            let primerValor = 0;
            $.ajax({
                type: "GET",
                url: url_method,
                data: {
                    'id': id
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r);
                    var datos = [...dataparseada];
                    var contratos = [];
                    contratos = dataparseada[6];
                    if (contratos != null && contratos.length > 0) {
                       
                        console.log(dataparseada);
                        codContrato.innerText = null;
                        for (var i = 0; i < contratos.length; i++) {
                            var opt = contratos[i].Text;
                            var tx = contratos[i].Text;
                            codContrato.innerHTML += "<option value=\"" + opt + "\">" + tx + "</option>";
                        }
                        primerValor = contratos[0].Text;
                        console.log(primerValor);
                        callChangeContrato(primerValor);
                        document.getElementById("btnAgregarAfiliado").removeAttribute("disabled");

                    }
                    else
                    {
                        document.getElementById("btnAgregarAfiliado").setAttribute("disabled", "");
                        var all = document.querySelectorAll(".btnEdit");
                        for (var i = 0, len = all.length; i < len; i++) {
                            all[i].disabled = true;
                        }
                        mostrarMensaje("Error, El cliente no tiene contratos vigentes, intente con otro.");
                        //$("#drpCodigoCliente").val($("#drpCodigoCliente option:first").val()).change();
                    }
                    
                }
            });
            console.log(primerValor);
            //callChangeContrato(0);
        };

        function callChangeContrato(id) {
            const clienteActual = document.getElementById('drpCodigoCliente').value
            const IniVigencia = document.getElementById('txtInicioVigencia');
            const FinVigencia = document.getElementById('txtFinVigencia');
            var table = $('#dglistaAsegurados').DataTable();
            const labelContrato = document.getElementById('contratoLabel');
            var url_method = $('#saludAsegurados_ruta').val();
            labelContrato.textContent = id;


            table.clear().draw();
            //------------------
            $.ajax({
                type: "GET",
                url: url_method,
                data: {
                    'tipoConsulta': 'GRUPOFAMILIAR',
                    'Codcliente': clienteActual,
                    'codContrato': id,
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r);
                    var datos = [...dataparseada];
                    //console.log(datos);

                    var IniVigFormato = transformaFecha(dataparseada[0]);
                    var FinVigFormato = transformaFecha(dataparseada[1]);

                    console.log(IniVigFormato);

                    IniVigencia.value = IniVigFormato;
                    FinVigencia.value = FinVigFormato;

                    const asegurados = dataparseada[2];

                    //if (asegurados.length === 0) {
                    //    document.getElementById('btnAgregarAfiliado').removeAttribute("hidden");
                    //}
                    //else
                    //{
                    //    document.getElementById('btnAgregarAfiliado').setAttribute("hidden", '');
                    //}


                    const aseguradosTodos = asegurados.forEach(asegurado => {
                        //console.log(asegurado.CodigoCliente);
                        table.row.add([
                            asegurado.CodigoCliente,
                            asegurado.CodigoTitular,
                            asegurado.ApellidosNombres,
                            (new Date(parseInt(asegurado.FechaNacimiento.substr(6)))).toLocaleDateString(),
                            asegurado.Edad,
                            (new Date(parseInt(asegurado.FechaAlta.substr(6)))).toLocaleDateString(),
                            (new Date(parseInt(asegurado.FechaBaja.substr(6)))).toLocaleDateString(),
                            asegurado.Estado == "Activo" ? '<span class="badge bg-success badge-btn">Activo</span>' : '<span class="badge bg-danger badge-btn">De Baja</span>',
                            `<button type='button' class='btnEdit btn btn-info btn-sm' onclick='EditarAsegurado(event);'  data-request-url='@Url.Action("Mantenimiento", "SaludAsegurados")'><i class='fa fa-users text-warning'></i>&nbsp;&nbsp;Grupo Familiar</button>`,
                        ]).draw(false);
                    });

                }
            });
        };

        dateTimeReviver = function (key, value) {
            var a;
            if (typeof value === 'string') {
                a = /\/Date\((\d*)\)\//.exec(value);
                if (a) {

                    var dt = new Date(+a[1]);

                    var dateString = moment(dt).format('YYYY-MM-DD');

                    return dateString;
                }
                //console.log(a);
            }
            return value;
    }

    function transformaFecha(fec)
    {
        var dateString = fec.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = (currentTime.getMonth() + 1).toString();
        var day = currentTime.getDate().toString();
        var cero = "0";

        if (day.length == 1)
        {
            day = cero.concat(day);
        }

        if (month.length == 1) {
            month = cero.concat(month);
        }

        var year = currentTime.getFullYear();
        var date = year + "-" + month + "-" + day //  day + "/" + month + "/" + year;
        return date;
    }

        $("body").on("click", "img[src*='plus.jpg']", function () {
            $("img[src*='minus.jpg']").click();
            //$('table#dglista tr#ad').remove();
            $(this).attr("src", "../Images/plus.jpg");
            $(this).closest("tr").after("<tr id='ad'><td></td><td id='tab' colspan = '999'>" + $(this).next().html() + "</td></tr>");
            var row = $(this).closest("tr");
            var url_method = $('#soloAsegurados_ruta').val();

            var Codcliente = row.find("td:eq(1)").text();
            var Codtitular = row.find("td:eq(2)").text();

            $(this).attr("src", "../Images/minus.jpg");
            $.ajax({
                type: "GET",
                url: url_method,
                data: {
                    'tipoConsulta': 'GRUPOFAMILIAR',
                    'codCliente': Codcliente,
                    'codTitular': Codtitular,
                    'codDependiente': '',
                    'codContrato': ''
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r);
                    console.log(dataparseada);
                    document.getElementById('tab').innerHTML = json2table(dataparseada, 'table');
                }
            });

        });

        //Assign Click event to Minus Image.
        $("body").on("click", "img[src*='minus.jpg']", function () {
            $(this).attr("src", "../Images/plus.jpg");
            $(this).closest("tr").next().remove();
        });

        function goMantenimiento() {
            const valorCliente = document.getElementById('drpCodigoCliente').value;
            const valorContrato = document.getElementById('drpCodigoContrato').value;
            const urlBtn = document.getElementById('btnAgregarAfiliado');

            if (valorContrato == "") {
                var mensaje = "El cliente seleccionado no tiene contratos registrados, debe crear un contrato previamente o seleccione otro cliente.";
                mostrarMensaje(mensaje);
            }
            else {
                var url = urlBtn.getAttribute('data-request-url');
                const url_final = `?CodigoCliente=${valorCliente}&CodigoContrato=${valorContrato}&origen=A`
                window.location.href = url + url_final;
            }

            //var planes = VerPlanes();

            //console.log(planes);

            //if (planes == 0) {
  
            //}
            //else
            //{
                
            //}
    }

    function EditarAsegurado(e) {
        const boton = e.target;
        const Codcliente = e.target.parentElement.parentElement.firstElementChild.textContent;
        const Codtitular = e.target.parentElement.parentElement.firstElementChild.nextElementSibling.textContent;
        const valorContrato = document.getElementById('drpCodigoContrato').value;
        const url = boton.getAttribute('data-request-url');

        const url_parametros = `?CodigoCLiente=${Codcliente.trim()}&CodigoTitular=${Codtitular.trim()}&CodigoContrato=${valorContrato.trim()}&origen=A`
        console.log(url + url_parametros);
        window.location.href = url + url_parametros;

        };


        //function VerPlanes(`¡`

        function ValidarPlanes()
        {
            const valorCliente = document.getElementById('drpCodigoCliente').value;
            const valorContrato = document.getElementById('drpCodigoContrato').value;
            const url_method = document.getElementById('ValidarPlanes_ruta').value;
            var retorna;

            $.ajax({
                type: "GET",
                url: url_method,
                data: {
                    'idcliente': valorCliente,
                    'idcontrato': valorContrato
                },
                dataType: "text",
                success: function (r) {                    
                    retorna = JSON.parse(r);
                    if (retorna.length == 0) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Mensaje',
                                html: 'El contrato seleccionado no tiene planes, ingrese a la opción "Administrar Contratos" para poder asignarlos',
                                showCloseButton: true
                            })
                    }
                    else
                    {
                        goMantenimiento();
                    }
                }
            });
        }


    </script>



}



