@model Entidades.ENSaludAsegurados

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Grupos Familiares</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Datos del Asegurado</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <Label for="txtCodigoCliente">CodigoCliente</Label>
                                    @Html.TextBoxFor(model => model.CodigoCliente, new { id = "txtCodigoCliente", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <Label for="txtCodigoTitular">CodigoTitular</Label>
                                    @Html.TextBoxFor(model => model.CodigoTitular, new { id = "txtCodigoTitular", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <Label for="txtCategoria">Categoria</Label>
                                    @Html.TextBoxFor(model => model.Categoria, new { id = "txtCategoria", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoParentesco, "CodigoParentesco", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoParentesco", null, new { id = "drpParentesco", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoParentesco)
                                </div>
                            </div>


                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoVendedor, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoVendedor", null, new { id = "drpVendedor", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoVendedor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    @Html.LabelFor(model => model.CodigoCentroCosto, "CodigoCentroCosto", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoCentroCosto", null, new { id = "drpCodigoCentroCosto", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoCentroCosto)
                                </div>
                            </div>

                            @*<div Class="col-sm-2">
            <div Class="form-group">
                <Label for="txtCodigoTrabajador">CodigoTrabajador</Label>
                @Html.TextBoxFor(model => model.CodigoTrabajador, new { id = "txtCodigoTrabajador", @class = "form-control form-control-sm", @placeholder = "" })
            </div>
        </div>*@
                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    @Html.LabelFor(model => model.CodigoDocumentoIdentidad, "TipoDocumento", htmlAttributes: new { @class = "control-label " })
                                    @Html.DropDownList("CodigoDocumentoIdentidad", null, new { id = "drpCodigoDocumentoIdentidad", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoDocumentoIdentidad)
                                </div>
                            </div>
                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtNumeroDocumentoIdentidad">NumeroDocumento</Label>
                                    @Html.TextBoxFor(model => model.NumeroDocumentoIdentidad, new { id = "txtNumeroDocumentoIdentidad", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtApellidoPaterno">ApellidoPaterno</Label>
                                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { id = "txtApellidoPaterno", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtApellidoMaterno">ApellidoMaterno</Label>
                                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { id = "txtApellidoMaterno", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>



                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtApellidosNombres">Nombres</Label>
                                    @Html.TextBoxFor(model => model.Nombres, new { id = "txtNombres", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    @Html.LabelFor(model => model.CodigoSexo, "Sexo", htmlAttributes: new { @class = "control-label " })
                                    @Html.DropDownList("CodigoSexo", null, new { id = "drpCodigoSexo", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoSexo)
                                </div>
                            </div>

                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtFechaNacimiento">FechaNacimiento</Label>
                                    @*@Html.TextBoxFor(model => model.FechaNacimiento, new { id = "txtFechaNacimiento", @class = "form-control form-control-sm", @placeholder = "" })*@
                                    @Html.TextBoxFor(model => model.FechaNacimiento, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFechaNacimiento", @class = "form-control form-control-sm float-right" })

                                </div>
                            </div>



                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtFechaAlta">FechaAlta</Label>
                                    @*@Html.TextBoxFor(model => model.FechaAlta, new { id = "txtFechaAlta", @class = "form-control form-control-sm", @placeholder = "" })*@
                                    @Html.TextBoxFor(model => model.FechaAlta, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFechaAlta", @class = "form-control form-control-sm float-right" })

                                </div>
                            </div>

                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <Label for="txtTelefono">Telefono</Label>
                                    @Html.TextBoxFor(model => model.Telefono, new { id = "txtTelefono", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <Label for="txtCelular">Celular</Label>
                                    @Html.TextBoxFor(model => model.Celular, new { id = "txtCelular", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <Label for="txtEmail">Email</Label>
                                    @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-sm-3">
                                <div Class="form-group">
                                    <Label for="txtDireccion">Direccion</Label>
                                    @Html.TextBoxFor(model => model.Direccion, new { id = "txtDireccion", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoDpto, "Departamento", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoDpto", null, new { id = "drpDepartamento", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoDpto)
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoProv, "Provincia", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoProv", null, new { id = "drpProvincia", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoProv)
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoDist, "Distrito", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoDist", null, new { id = "drpDistrito", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoDist)
                                </div>
                            </div>


                            @*Prueba de Vista Parcial*@
                            @*@{
            Html.RenderPartial("_Ubigeo");
        }*@
                            @*Fin Prueba*@

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                    <div class="card-footer">
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-footer">
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                    <a href='@Url.Action("Index", "SaludAsegurados")' class="btn btn-default float-right">Cancelar</a>
                </div>
            </div>
        </div>


    </div>


}
    @section Scripts {

        @Scripts.Render("~/Content/plugins/jquery-validation/jquery.validate.min.js")
        @Scripts.Render("~/Content/plugins/jquery-validation/additional-methods.min.js")
        <script src="~/Scripts/Comandos.js"></script>

        <script type="text/javascript">
        $(document).ready(function () {
            $('#drpDepartamento').change(function () {
                debugger;
                datosprovincia();
            });
        });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
            $('#drpProvincia').change(function () {
                datosdistrito();
            });
        });
        </script>
    }









