@model Entidades.ENSaludAsegurados

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Grupos Familiares</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Datos del Asegurado</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="txtCodigoCliente">CodigoCliente</label>
                                    <input type="text" id="txtCodigoCliente" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="txtCodigoTitular">CodigoTitular</label>
                                    @Html.TextBoxFor(model => model.CodigoTitular, new { id = "txtCodigoTitular", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="txtCategoria">Categoria</label>
                                    @Html.TextBoxFor(model => model.Categoria, new { id = "txtCategoria", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoParentesco, "CodigoParentesco", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoParentesco", null, new { id = "drpParentesco", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoParentesco)
                                </div>
                            </div>


                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoVendedor, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoVendedor", null, new { id = "drpVendedor", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoVendedor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoCentroCosto, "CodigoCentroCosto", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CodigoCentroCosto", null, new { id = "drpCodigoCentroCosto", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.CodigoCentroCosto)
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label class="control-label">Documento de Identidad</label>
                                    <select id="drpCodigoDocumentoIdentidad" class="form-control form-control-sm">
                                        <option disabled="">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="txtNumeroDocumentoIdentidad">NumeroDocumento</label>
                                    @Html.TextBoxFor(model => model.NumeroDocumentoIdentidad, new { id = "txtNumeroDocumentoIdentidad", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="txtApellidoPaterno">ApellidoPaterno</label>
                                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { id = "txtApellidoPaterno", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="txtApellidoMaterno">ApellidoMaterno</label>
                                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { id = "txtApellidoMaterno", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="txtApellidosNombres">Nombres</label>
                                    @Html.TextBoxFor(model => model.Nombres, new { id = "txtNombres", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label class="control-label">Sexo</label>
                                    <select id="drpCodigoSexo" class="form-control form-control-sm">
                                        <option disabled="">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="txtFechaNacimiento">FechaNacimiento</label>
                                    @Html.TextBoxFor(model => model.FechaNacimiento, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFechaNacimiento", @class = "form-control form-control-sm float-right" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="txtFechaAlta">FechaAlta</label>
                                    @Html.TextBoxFor(model => model.FechaAlta, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFechaAlta", @class = "form-control form-control-sm float-right" })

                                </div>
                            </div>

                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <label for="txtTelefono">Telefono</label>
                                    @Html.TextBoxFor(model => model.Telefono, new { id = "txtTelefono", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-sm-1">
                                <div Class="form-group">
                                    <label for="txtCelular">Celular</label>
                                    @Html.TextBoxFor(model => model.Celular, new { id = "txtCelular", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div Class="col-sm-2">
                                <div Class="form-group">
                                    <label for="txtEmail">Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-sm-3">
                                <div Class="form-group">
                                    <label for="txtDireccion">Direccion</label>
                                    @Html.TextBoxFor(model => model.Direccion, new { id = "txtDireccion", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Departamento</label>
                                    <select id="drpDepartamento" class="form-control form-control-sm">
                                        <option disabled="">-- Seleccione --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Provincia</label>
                                    <select id="drpProvincia" class="form-control form-control-sm">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Distrito</label>
                                    <select id="drpDistrito" class="form-control form-control-sm">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-footer">
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                    <a href='@Url.Action("Index", "SaludAsegurados")' class="btn btn-default float-right">Cancelar</a>
                </div>
            </div>
        </div>


    </div>


}
    @section Scripts {

        @Scripts.Render("~/Content/plugins/jquery-validation/jquery.validate.min.js")
        @Scripts.Render("~/Content/plugins/jquery-validation/additional-methods.min.js")
        <script src="~/Scripts/Comandos.js"></script>
    }









