@using Entidades;
@model Salud.ViewModels.VMAseguradosRegulares
@{
    ViewBag.Title = "Búsqueda Asegurados";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}

<div class="row">
    <div class="col col-md-2">
        <div class="card card-info card-outline shadow-lg sticky-top">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-th-list"></i>
                    Opciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center pt-2 pb-2">

                    @*<button type="button" id="Grabar" class="btn btn-app bg-gradient-info" data-request-url="@Url.Action("Afiliacion", "SaludAsegurados")">
                            <i class="fas fa-pencil-alt text-warning"></i>&nbsp;&nbsp;&nbsp;Exportar
                        </button>
                        <button onclick="getSAsegurados();" class="btn btn-app bg-gradient-success">
                            <i class="fas fa-users text-warning"></i>&nbsp;&nbsp;Asegurados
                        </button>*@
                    <a href='@Url.Action("Afiliacion", "SaludAsegurados")' class="btn btn-app bg-gradient-primary">
                        <i class="fas fa-user-circle text-warning"></i>&nbsp;&nbsp;Afiliaciones
                    </a>
                    <a href='@Url.Action("Index", "SaludAsegurados")' class="btn btn-app bg-gradient-danger">
                        <i class="fas fa-circle-notch text-warning"></i>&nbsp;&nbsp;Refrescar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-10">
        <div class="card card-primary card-outline">
            @*<div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-table"></i>
                        Listado
                    </h3>
                </div>*@
            <!-- /.card-header -->
            <div class="card-body ">
                @using (Html.BeginForm("Index", "SaludAsegurados", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="drpTipoCliente">Tipo Cliente:</label>
                                <input type="hidden" id="hdCodigoTipoCliente" name="hdCodigoTipoCliente" />
                                @Html.DropDownList("CodigoTipoCliente", null, new { id = "drpTipoCliente", @class = "form-control-sm js-example-responsive", @style = "width:100%", @onchange = "callChangeGetValor(this)" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="drpTipoCliente">Búsqueda:</label>
                                <input type="text" id="txtBusquedaAsegurados" class="form-control form-control-sm" name="txtBusquedaAsegurados" placeholder="| Nombres y Apellidos |" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label style="visibility:hidden;">Búsqueda:</label>
                                <div>
                                    <button type="submit" class="btn btn-dark btn-sm">
                                        <i class="fa fa-search-plus text-warning"></i>&nbsp;&nbsp;Buscar Afiliado
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="dglista" class="table table-bordered table-responsive">
                        <thead class="bg-gradient-lightblue">
                            <tr>
                                <th></th>
                                <th>CODIGO CLIENTE</th>
                                <th>CODIGO TITULAR</th>
                                <th>CODIGO CONTRATO</th>
                                <th>AFILIADOS (NOMBRES Y APELLIDOS)</th>
                                <th>NACIMIENTO</th>
                                <th>EDAD</th>
                                <th>FECHA ALTA</th>
                                <th>FECHA BAJA</th>
                                <th>ESTADO</th>
                                <th>EDITAR</th>
                                <th>CARTA</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Asegurados != null)
                            {
                                foreach (ENSaludAsegurados asegurado in (List<ENSaludAsegurados>)ViewBag.Asegurados)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Images/plus.jpg" />
                                            <div style="display:none">
                                                @*<div id="tableGoesHere">

                                        </div>*@
                                            </div>
                                        </td>
                                        <td class="cellCodigoCliente">@asegurado.CodigoCliente </td>
                                        <td class="cellCodigoTitular">@asegurado.CodigoTitular </td>
                                        <td class="cellCodigoTitular">@asegurado.CodigoContrato </td>
                                        <td>@asegurado.ApellidosNombres </td>
                                        <td>@asegurado.FechaNacimiento.ToString("dd-MM-yyyy") </td>
                                        <td class="cellDescripcionTipoAsegurado">@asegurado.Edad </td>
                                        <td>@asegurado.FechaAlta.ToString("dd-MM-yyyy") </td>
                                        <td>@asegurado.FechaBaja.ToString("dd-MM-yyyy") </td>
                                        <td>@asegurado.Estado </td>
                                        <td class="text-center" width="100px">
                                            <button type="button" class="botonedit btn btn-info btn-sm W-100" onclick='EditarAsegurado(event);' data-request-url='@Url.Action("Mantenimiento", "SaludAsegurados")'>
                                                <i class="fa fa-edit text-warning"></i>&nbsp;Editar
                                            </button>
                                        </td>
                                        <td class="text-center" width="110px">
                                            <button type="button" class="botoncomi btn btn-primary btn-sm">
                                                <i class="fa fa-print text-warning"></i>&nbsp;Imprimir
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @*BOTONES EXPORT*@
    @Scripts.Render("~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/jszip/jszip.min.js")
    @Scripts.Render("~/Content/plugins/datatables-buttons/js/buttons.html5.min.js")
    @*EXPORT*@
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")

    <script>
        var mensaje = "@TempData["mensaje"]";
        mostrarMensaje(mensaje);
    </script>

    <script>
        $(document).ready(function () {
            //$('.js-example-basic-single').select2();
            $(".js-example-responsive").select2({
                width: 'resolve' // need to override the changed default
            });
            const combito = document.getElementById("drpTipoCliente");
            callChangeGetValor(combito);
        });

        function callChangeGetValor(combo) {
            let valor = "";
            const idTipoCliente = document.getElementById("hdCodigoTipoCliente");
            idTipoCliente.value = combo.value;
            valor = idTipoCliente.value
            console.log(valor);
        }


        $(document).ready(function () {
            $('#dglista').DataTable({
                paging: true,
                lengthChange: false,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
                lengthMenu: [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                pageLength: 10,
                "searching": false,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //"scrollY": "500px",
                //"buttons": [
                //    { "extend": 'pdf', "text": 'Export', "className": 'btn btn-default btn-xs' }
                //],
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    text: 'Exportar Excel',
                    className: 'btn btn-outline-info btn-sm',
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];

                    }
                }]
            });
        });

        $("body").on("click", "img[src*='plus.jpg']", function () {
            $("img[src*='minus.jpg']").click();
            //$('table#dglista tr#ad').remove();
            $(this).attr("src", "/images/plus.jpg");
            $(this).closest("tr").after("<tr id='ad'><td></td><td id='tab' colspan = '999'>" + $(this).next().html() + "</td></tr>");
            var row = $(this).closest("tr");

            var Codcliente = row.find(".cellCodigoCliente").html();
            var Codtitular = row.find(".cellCodigoTitular").html();

            $(this).attr("src", "/images/minus.jpg");
            $.ajax({
                type: "GET",
                url: "/SaludAsegurados/getSoloAsegurados",
                data: {
                    'tipoConsulta': 'GRUPOFAMILIAR',
                    'codCliente': Codcliente,
                    'codTitular': Codtitular,
                    'codDependiente': '',
                    'codContrato': ''
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r);
                    document.getElementById('tab').innerHTML = json2table(dataparseada, 'table');
                }
            });

        });

        //Assign Click event to Minus Image.
        $("body").on("click", "img[src*='minus.jpg']", function () {
            $(this).attr("src", "/images/plus.jpg");
            $(this).closest("tr").next().remove();
        });

        function EditarAsegurado(e) {
            const boton = e.target;
            const Cliente = e.target.parentElement.parentElement.firstElementChild.nextElementSibling.textContent;
            const Contrato = e.target.parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.nextElementSibling.textContent;
            const Titular = e.target.parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.textContent;
            const url = boton.getAttribute('data-request-url');
            console.log(`${Cliente}-${Contrato}-${Titular}-${url}`);
            const url_parametros = `?CodigoCLiente=${Cliente.trim()}&CodigoTitular=${Titular.trim()}&CodigoContrato=${Contrato.trim()}&origen=I`
            console.log(url + url_parametros);
            window.location.href = url + url_parametros;

        };

        dateTimeReviver = function (key, value) {
            var a;
            if (typeof value === 'string') {
                a = /\/Date\((\d*)\)\//.exec(value);
                if (a) {

                    var dt = new Date(+a[1]);

                    var dateString = moment(dt).format('YYYY-MM-DD');

                    return dateString;
                }
                //console.log(a);
            }
            return value;
        }




    </script>


}


