@using Entidades;
@{
    ViewBag.Title = "Asegurados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
}
<style>
    .card-body {
        padding-bottom: 0.25rem !important;
    }
    .pagination-disabled {
        cursor: not-allowed;
    }
</style>
<div class="row">
    @Html.AntiForgeryToken()
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-table"></i>
                    Lista de Asegurados
                </h3>
            </div>
            <div class="card-body pt-1">
                <!-- Header -->
                <div class="row">
                    <div class="mb-2 mt-2">
                        <button type="button" id="btnNuevo" class="btn btn-outline-secondary btn-sm px-4" data-dismiss="modal" data-toggle="modal" data-target="#modalEnviarAfiliado" disabled="disabled">Nuevo</button>
                        <button type="button" id="btnBuscar" class="btn btn-outline-secondary btn-sm px-4 mx-2" data-dismiss="modal" data-toggle="modal" data-target="#modalBuscarAfiliado" disabled="disabled">Buscar</button>
                    </div>
                </div>
                <!-- Table -->
                <table id="dglista" class="table table-bordered table-hover table-sm mt-2">
                    <thead id="headerAsegurados">
                    </thead>
                    <tbody id="bodyAsegurados">
                        <!-- Loading -->
                        @Html.Partial("_Loading")
                    </tbody>
                </table>
                <!-- Pagination status -->
                <div id="statusPagination" class="mr-2 mt-2 text-right text-secondary">
                </div>
                <!-- Pagination control -->
                <nav id="navPagination" aria-label="Page navigation example" class="pt-3">
                </nav>
            </div>
        </div>
    </div>
</div>
@Html.Partial("SaludAsegurados/_AfiliacionCrear")
@Html.Partial("SaludAsegurados/_AfiliacionBuscar")
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    
    <script src="~/Scripts/Comandos.js"></script>
    <script>
        /// Cleaning DropDownLists
        emptyDropDownList('drpParentesco'); // Parentesco
        emptyDropDownList('drpVendedor'); // Vendedor
        emptyDropDownList('drpCentroCosto'); // Centro de Costo
        emptyDropDownList('drpDocumentoIdentidad'); // Documento de Identidad
        emptyDropDownList('drpDepartamento'); // Departamento
        emptyDropDownList('drpProvincia'); // Provincia
        emptyDropDownList('drpDistrito'); // Distrito

        /// Dropdownlist loadings...
        fillDropDownListByAjax('drpParentesco', 'CodigoCategoria', 'DescripcionParentesco', '/SCTRCotizacion/GetParentesco', 'POST'); // Parentesco
        fillDropDownListByAjax('drpVendedor', 'CodigoVendedor', 'DescripcionVendedor', '/SCTRCotizacion/GetVendedor', 'POST'); // Vendedor
        fillDropDownListByAjax('drpCentroCosto', 'CodigoCentroCosto', 'DescripcionCentroCosto', '/SCTRCotizacion/GetCentroCosto', 'POST', { codigocliente: '000494' }); // Centro de Costo
        fillDropDownListByAjax('drpDocumentoIdentidad', 'CodigoDocumentoIdentidad', 'DescripcionDocumentoIdentidad', '/SCTRCotizacion/GetDocumentoIdentidad', 'POST'); // Documento de Identidad
        fillDropDownListByAjax('drpSexo', 'CodigoSexo', 'DescripcionSexo', '/SCTRCotizacion/GetSexo', 'POST'); // Sexo
        fillDropDownListByAjax('drpDepartamento', 'CodigoDpto', 'DescripcionDpto', '/SaludAsegurados/GetDepartamentos'); // Departamento

        /// Depending Dropdownlist...
        const drpDepartamento = document.querySelector('#drpDepartamento');
        drpDepartamento.addEventListener('change', () => {
            const id = drpDepartamento[drpDepartamento.selectedIndex].id;
            fillDropDownListByAjax('drpProvincia', 'CodigoProv', 'DescripcionProv', '/SaludAsegurados/GetProvincias', 'GET', { dptoid: id }); // Provincia
            emptyDropDownList('drpDistrito'); // Distrito

        });
        const drpProvincia = document.querySelector('#drpProvincia');
        drpProvincia.addEventListener('change', () => {
            const idDepartamento = drpDepartamento[drpDepartamento.selectedIndex].id;
            const idProvincia = drpProvincia[drpProvincia.selectedIndex].id;
            fillDropDownListByAjax('drpDistrito', 'CodigoDist', 'DescripcionDist', '/SaludAsegurados/GetDistritos', 'GET', { dptoid: idDepartamento, provid: idProvincia }); // Distrito
        });

        /// DataTable loading...
        fillMatrixByAjax(); // Asegurados
    </script>
}
