@using Entidades;
@model Salud.ViewModels.VMAsegurados
@{
    ViewBag.Title = "Busqueda Asegurados";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}

<div class="row">
    <div class="col col-md-2">
        <div class="card card-info card-outline shadow-lg sticky-top">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-th-list"></i>
                    Opciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center pt-2 pb-2">

                    <button type="button" id="Grabar" class="btn btn-app bg-gradient-info" data-request-url="@Url.Action("Afiliacion", "SaludAsegurados")">
                        <i class="fas fa-pencil-alt text-warning"></i>&nbsp;&nbsp;&nbsp;Exportar
                    </button>
                    <button onclick="getSAsegurados();" class="btn btn-app bg-gradient-success">
                        <i class="fas fa-users text-warning"></i>&nbsp;&nbsp;Asegurados
                    </button>
                    <a href='@Url.Action("Afiliacion", "SaludAsegurados")' class="btn btn-app bg-gradient-primary">
                        <i class="fas fa-user-circle text-warning"></i>&nbsp;&nbsp;Afiliacion
                    </a>
                    <a href='@Url.Action("Index", "SaludAsegurados")' class="btn btn-app bg-gradient-danger">
                        <i class="fas fa-circle-notch text-warning"></i>&nbsp;&nbsp;Refrescar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="card card-primary card-outline">
            @*<div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-table"></i>
                        Listado
                    </h3>
                </div>*@
            <!-- /.card-header -->
            <div class="card-body ">

                <table id="dglista" class="table table-bordered">
                    <thead class="bg-gradient-lightblue">
                        <tr>
                            <th></th>
                            <th>CODIGO CLIENTE</th>
                            <th>CODIGO TITULAR</th>
                            <th>AFILIADOS (NOMBRES Y APELLIDOS)</th>
                            <th>NACIMIENTO</th>
                            <th>EDAD</th>
                            <th>FECHA ALTA</th>
                            <th>FECHA BAJA</th>
                            <th>ESTADO</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Asegurados != null)
                        {
                            foreach (ENSaludAsegurados asegurado in (List<ENSaludAsegurados>)ViewBag.Asegurados)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Images/plus.jpg" />
                                        <div style="display:none">
                                            @*<div id="tableGoesHere">

                                                </div>*@
                                        </div>
                                    </td>
                                    <td class="cellCodigoCliente">@asegurado.CodigoCliente </td>
                                    <td class="cellCodigoTitular">@asegurado.CodigoTitular </td>
                                    <td>@asegurado.ApellidosNombres </td>
                                    <td>@asegurado.FechaNacimiento </td>
                                    <td class="cellDescripcionTipoAsegurado">@asegurado.Edad </td>
                                    <td>@asegurado.FechaAlta </td>
                                    <td>@asegurado.FechaBaja </td>
                                    <td>@asegurado.Estado </td>
                                    <td width="400" class="text-center">
                                        <button type="button" class="botonedit btn btn-info btn-sm mr-3">
                                            <i class="fa fa-edit text-warning"></i>&nbsp;&nbsp;Editar
                                        </button>
                                        <button type="button" class="botoncomi btn btn-primary btn-sm mr-3">
                                            <i class="fa fa-print text-warning"></i>&nbsp;&nbsp;Imprimir
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @*BOTONES EXPORT*@
    @Scripts.Render("~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/jszip/jszip.min.js")
    @Scripts.Render("~/Content/plugins/datatables-buttons/js/buttons.html5.min.js")
    @*EXPORT*@
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")
    @Scripts.Render("~/Scripts/Salud/PreFacturacion/Index.js")

    <script>
        var mensaje = "@TempData["mensaje"]";
        mostrarMensaje(mensaje);
    </script>


    <script>

        $("body").on("click", "img[src*='plus.jpg']", function () {
            $("img[src*='minus.jpg']").click();
            //$('table#dglista tr#ad').remove();
            $(this).attr("src", "/images/plus.jpg");
            $(this).closest("tr").after("<tr id='ad'><td></td><td id='tab' colspan = '999'>" + $(this).next().html() + "</td></tr>");
            var row = $(this).closest("tr");

            var Codcliente = row.find(".cellCodigoCliente").html();
            var Codtitular = row.find(".cellCodigoTitular").html();

            $(this).attr("src", "/images/minus.jpg");
            $.ajax({
                type: "GET",
                url: "/SaludAsegurados/getSoloAsegurados",
                data: {
                    'tipoConsulta': 'GRUPOFAMILIAR',
                    'codCliente': Codcliente,
                    'codTitular': Codtitular,
                    'codDependiente': '',
                    'codContrato': ''
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r);
                    document.getElementById('tab').innerHTML = json2table(dataparseada, 'table');
                }
            });

        });

    </script>


}


