
@using Entidades;
@model Salud.ViewModels.VMAfiliacion

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-2">
        <div class="card card-info card-outline shadow-lg sticky-top">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-th-list"></i>
                    Opciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center pt-2 pb-2">


                    @{

                        if (ViewBag.MuestraBtnDependiente != null)
                        {
                            if (ViewBag.Origen != "IN") 
                            {
                                <button id="btnCrearDependiente" onclick="goCrearDependiente(this.id);" class="btn btn-app bg-gradient-success" data-request-url="@Url.Action("Crear", "SaludAsegurados")">
                                    <i class="fa fa-user-plus text-warning"></i>&nbsp;&nbsp;Dependiente
                                </button>
                            }                            
                        }
                        else
                        {
                            <button id="btnCrearTitular" onclick="goCrearTitular(this.id);" class="btn btn-app bg-gradient-primary" data-request-url="@Url.Action("Crear", "SaludAsegurados")">
                                <i class="fa fa-user-plus text-warning"></i>&nbsp;&nbsp;Titular
                            </button>
                        }

                    }
                    <a href='@Url.Action("Crear", "SaludAsegurados")' class="btn btn-app bg-gradient-info" hidden>
                        <i class="fa fa-file-signature text-warning"></i>&nbsp;&nbsp;Grabar
                    </a>

                    @{
                        if (ViewBag.Origen == "I")//INDEX
                        {
                            <a href='@Url.Action("Index", "SaludAsegurados")' class="btn btn-app bg-gradient-danger">
                                <i class="fa fa-arrow-left text-warning"></i>&nbsp;&nbsp;Regresar
                            </a>
                        }
                        else if(ViewBag.Origen == "IN")//INDEPENDIENTES
                        {
                            <a href = '@Url.Action("Independientes", "SaludAsegurados")' class="btn btn-app bg-gradient-danger">
                                <i class="fa fa-arrow-left text-warning"></i>&nbsp;&nbsp;Regresar
                            </a>
                        }
                        else if (ViewBag.Origen == "A")//AFILIACION
                        {
                            <a href='@Url.Action("Afiliacion", "SaludAsegurados")' class="btn btn-app bg-gradient-danger">
                                <i class="fa fa-arrow-left text-warning"></i>&nbsp;&nbsp;Regresar
                            </a>
                        }


                    }


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card card-primary card-outline shadow-lg">
            <div class="card-header">
                <h5 class="card-title"><i class="fas fa-user-astronaut"></i>&nbsp;&nbsp;Datos del Contratante</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <h3 class="text-lg font-weight-bold text-primary">Datos del Contratante</h3>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.VMCliente.CodigoCliente, "Identificador RUC o DNI:", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.VMCliente.CodigoCliente, "", new { type = "text", id = "txtCodigoCli", @class = "form-control form-control-sm float-right", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VMCliente.RucDni, "Identificador RUC o DNI:", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.VMCliente.RucDni, "", new { type = "text", id = "txtRUCDNI", @class = "form-control form-control-sm float-right", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VMContrato.CodigoContrato, "Codigo Contrato", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("CodigoContrato", null, new { id = "drpContrato", @class = "form-control form-control-sm", disabled = "true" })
                            @Html.ValidationMessageFor(model => model.VMContrato.CodigoContrato)
                        </div>
                    </div>
                    <div Class="col-md-2">
                        <div Class="form-group">
                            @Html.LabelFor(model => model.VMContrato.InicioVigencia, "Inicio Vigencia", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.VMContrato.InicioVigencia, "{0:yyyy-MM-dd}", new { type = "date", id = "txtInicioVigencia", @class = "form-control form-control-sm float-right", @readonly = "readonly" })

                        </div>
                    </div>
                    <div Class="col-md-2">
                        <div Class="form-group">
                            @Html.LabelFor(model => model.VMContrato.FinVigencia, "Fin Vigencia", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.VMContrato.FinVigencia, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFinVigencia", @class = "form-control form-control-sm float-right", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VMCliente.RazonSocial, "Nombre o Razon Social:", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.VMCliente.RazonSocial, "", new { type = "text", id = "txtRazonSocial", @class = "form-control form-control-sm float-right", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <hr />
                <h3 class="text-lg font-weight-bold text-primary">Grupo Familiar</h3>
                <hr />
                <div class="row">
                    <div Class="col-md-12">
                        <table id="dglistaGrupoFamiliar" class="table table-bordered">
                            <thead class="bg-gradient-lightblue">
                                <tr>
                                    <th hidden>CLIENTE</th>
                                    <th hidden>TITULAR</th>
                                    <th hidden>CATEGORIA</th>
                                    <th>Parentesco</th>
                                    <th>Afiliado</th>
                                    <th>Edad</th>
                                    <th>Fecha Alta</th>
                                    <th>Fecha Baja</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                    <th>Imprimir</th>
                                    <th>SUSALUD</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ENSaludAsegurados SaludASegurados in (List<ENSaludAsegurados>)ViewBag.Asegurados)
                                {
                                <tr>
                                    <td hidden>@SaludASegurados.CodigoCliente</td>
                                    <td hidden>@SaludASegurados.CodigoTitular</td>
                                    <td hidden>@SaludASegurados.Categoria</td>
                                    <td>@SaludASegurados.DescripcionParentesco</td>
                                    <td>@SaludASegurados.ApellidosNombres</td>
                                    <td>@SaludASegurados.Edad</td>
                                    <td>@SaludASegurados.FechaAlta</td>
                                    <td>@SaludASegurados.FechaBaja</td>
                                    <td>@SaludASegurados.Estado</td>
                                    <td class="project-actions text-center">
                                        <button type="button" class="botonedit btn btn-info btn-sm mr-3" data-request-url="@Url.Action("Crear", "SaludAsegurados")">
                                            <i class="fa fa-edit text-warning"></i>&nbsp;&nbsp;Editar
                                        </button>
                                    </td>
                                    <td class="project-actions text-center">
                                        <button type="button" class="botoncomi btn btn-primary btn-sm mr-3">
                                            <i class="fa fa-coins text-warning"></i>&nbsp;&nbsp;Imprimir
                                        </button>
                                    </td>
                                    <td class="project-actions text-center">
                                        <button type="button" class="botonEnviar btn btn-success btn-sm mr-3" onclick='EnvioSusalud(event);' data-request-url='@Url.Action("Consumir_LPService", "SaludAsegurados")'>
                                            <i class="fa fa-arrow-right text-warning"></i>&nbsp;&nbsp;Registrar
                                        </button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")

    <script>
         var mensaje = "@ViewBag.MensajeAddAfiliado";
        if (mensaje != "") {

            if (mensaje.includes("CORRECTO")) {
                Swal.fire({
                    icon: 'success',
                    title: 'DATOS GUARDADOS',
                    html: mensaje,
                    showCloseButton: true
                });
            }
            else {
                Swal.fire({
                    icon: 'warning',
                    title: 'ADVERTENCIA',
                    html: mensaje,
                    showCloseButton: true
                });
            }

        }
    </script>

    <script>
        $(function () {
            var tablaLista = $('#dglistaGrupoFamiliar').DataTable({
                destroy: true,
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": false,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "pageLength": 50,
                "searching": true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });

        $(".botonedit").click(function () {
            txt1 = $(this).parents('tr').find("td:eq(2)").text().trim();
            const clienteCod = '@ViewBag.CodigoCliente';
            const titularCod = '@ViewBag.CodigoTitular';
            const contratoCod = '@ViewBag.CodigoContratoID';
            const origen = '@ViewBag.Origen';

            var url = $(this).attr('data-request-url');
            console.log(url);
            const url_final = `?idcliente=${clienteCod}&idtitular=${titularCod}&idcategoria=${txt1}&idcontrato=${contratoCod}&origen=${origen}`
            console.log(url + url_final);
            window.location.href = url + url_final;

        });

        function EnvioSusalud(e) {

            const boton = e.target;
            const Ccliente = e.target.parentElement.parentElement.firstElementChild.textContent;
            const Ctitular = e.target.parentElement.parentElement.firstElementChild.nextElementSibling.textContent;
            const Ccategoria = e.target.parentElement.parentElement.firstElementChild.nextElementSibling.nextElementSibling.textContent;
            const url_method = boton.getAttribute('data-request-url');


            if (Ccliente != "" && Ctitular != "" && Ccategoria != "") {
                $.ajax({
                    type: "GET",
                    url: url_method,
                    data: {
                        'metodo': 'WS_Registrar',
                        'idcliente': Ccliente,
                        'idtitular': Ctitular,
                        'idcategoria': Ccategoria,
                    },
                    dataType: "text",
                    success: function (r) {
                        var dataparseada = JSON.parse(r);
                        console.log(dataparseada);
                        Swal.fire({
                            icon: 'info',
                            title: 'Servicio Web (Respuesta)',
                            html: dataparseada,
                            showCloseButton: true
                        });
                    }
                });
            }
            else
            {
                Swal.fire({
                    icon: 'warning',
                    title: 'ADVERTENCIA',
                    html: 'El registro seleccionado no cuenta con datos, intente nuevamente.',
                    showCloseButton: true
                });
            }
            console.log(Ccliente);
            console.log(Ctitular);
            console.log(Ccategoria);
            console.log(url_method);
        };



        function goCrearTitular(id) {
            const valorCliente = document.getElementById('txtCodigoCli').value;
            const valorContrato = document.getElementById('drpContrato').value;
            const origen = '@ViewBag.Origen';
            const idtitu = "";
            const cate = "";
            const urlBtn = document.getElementById(id);

            var url = urlBtn.getAttribute('data-request-url');
            const url_final = `?idcliente=${valorCliente}&idtitular=${idtitu}&idcategoria=${cate}&idcontrato=${valorContrato}&origen=${origen}`
            console.log(url + url_final);
            window.location.href = url + url_final;
        }

        function goCrearDependiente(id) {
            var CTitular = "@ViewBag.CodigoTitular";

            const valorCliente = document.getElementById('txtCodigoCli').value;
            const valorContrato = document.getElementById('drpContrato').value;
            const origen = '@ViewBag.Origen';
            const idtitu = CTitular;
            const cate = "";
            const urlBtn = document.getElementById(id);

            var url = urlBtn.getAttribute('data-request-url');
            const url_final = `?idcliente=${valorCliente}&idtitular=${idtitu}&idcategoria=${cate}&idcontrato=${valorContrato}&origen=${origen}`
            console.log(url + url_final);
            window.location.href = url + url_final;
        }

    </script>
}

