@using Entidades;
@model ENDatosPreFacBusqueda
@{
    ViewBag.Title = "Pre-Facturaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
}
@*<style>

    #loading {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../../Images/loading.gif') 50% 50% no-repeat rgba(249, 249, 249, 0.7);
    }
</style>*@
@*<div id="loading" style="display:none;">
</div>*@
<section>
    <div class="row">
        <div class="col col-md-6">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-clock"></i>
                        Fechas
                    </h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Buscar", "PreFacturacion", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <!-- form here -->
                        <div class="row">
                            <div class="col col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col col-md-12 col-sm-12">
                                        <label for="anio">Año :</label>
                                        @Html.DropDownListFor(m => m.anio, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){ Text= DateTime.Now.Year.ToString(), Value = DateTime.Now.Year.ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 1).ToString(), Value = (DateTime.Now.Year - 1).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 2).ToString(), Value = (DateTime.Now.Year - 2).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 3).ToString(), Value = (DateTime.Now.Year - 3).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 4).ToString(), Value = (DateTime.Now.Year - 4).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 5).ToString(), Value = (DateTime.Now.Year - 5).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 6).ToString(), Value = (DateTime.Now.Year - 6).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 7).ToString(), Value = (DateTime.Now.Year - 7).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 8).ToString(), Value = (DateTime.Now.Year - 8).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 9).ToString(), Value = (DateTime.Now.Year - 9).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 10).ToString(), Value = (DateTime.Now.Year - 10).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 11).ToString(), Value = (DateTime.Now.Year - 11).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 12).ToString(), Value = (DateTime.Now.Year - 12).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 13).ToString(), Value = (DateTime.Now.Year - 13).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 14).ToString(), Value = (DateTime.Now.Year - 14).ToString()},
                                            new SelectListItem(){ Text= (DateTime.Now.Year - 15).ToString(), Value = (DateTime.Now.Year - 15).ToString()}
                                        },
                                         new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col col-md-12 col-sm-12">
                                        <label for="mes">Mes :</label>
                                        @Html.DropDownListFor(m => m.mes, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){ Text= "Enero", Value = "01"},
                                            new SelectListItem(){ Text= "Febrero", Value = "02"},
                                            new SelectListItem(){ Text= "Marzo", Value = "03"},
                                            new SelectListItem(){ Text= "Abril", Value = "04"},
                                            new SelectListItem(){ Text= "Mayo", Value = "05"},
                                            new SelectListItem(){ Text= "Junio", Value = "06"},
                                            new SelectListItem(){ Text= "Julio", Value = "07"},
                                            new SelectListItem(){ Text= "Agosto", Value = "08"},
                                            new SelectListItem(){ Text= "Setiembre", Value = "09"},
                                            new SelectListItem(){ Text= "Octubre", Value = "10"},
                                            new SelectListItem(){ Text= "Noviembre", Value = "11"},
                                            new SelectListItem(){ Text= "Diciembre", Value = "12"}
                                        },
                                         new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col col-md-12 col-sm-12">
                                        <label for="txtdesde">Fecha Desde</label>
                                        @Html.TextBoxFor(m => m.txtdesde,
                                       new { @class = "form-control form-control-sm", @type = "date" })
                                    </div>
                                    <div class="col col-md-12 col-sm-12">
                                        <label for="txthasta">Fecha Hasta</label>
                                        @Html.TextBoxFor(m => m.txthasta,
                                       new { @type = "date", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pt-3">
                                    <button type="submit" id="btnbusca" class="btn btn-dark btn-sm">
                                        <i class="fa fa-calculator"></i>&nbsp;&nbsp;Calcular
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="card card-info  card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-mouse-pointer"></i>
                        Opciones
                    </h3>
                </div>
                <div class="card-body ">
                    <div class="row text-center pb-1 pt-1">
                        <div class="col-md-12">
                            <div class="btn-group-justified">
                                <button type="button" id="btngenera" class="btn btn-primary btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")">
                                    <i class="fa fa-check-square"></i>&nbsp;&nbsp;Generar Pre-Facturacion
                                </button>
                                <button type="button" id="btnAprobar" class="btn btn-success btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")">
                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;Aprobar
                                </button>
                                <button type="button" id="btnGenerarCuentaCorriente" class="btn btn-info btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")">
                                    <i class="fa fa-coins"></i>&nbsp;&nbsp;Generar Cuenta Corriente
                                </button>
                                <button type="button" id="btnFacturar" class="btn btn-warning btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")">
                                    <i class="fa fa-money-bill-wave"></i>&nbsp;&nbsp;Facturar
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center pt-2">
                        <div class="col-md-12">
                            <div class="btn-group-justified">
                                <button type="button" id="chkTodos" class="btn btn-link btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")" onclick="listas('chkTodos','')">
                                    <i class="fa fa-check-square text-success"></i>&nbsp;&nbsp;Todos
                                </button>
                                <button type="button" id="chkGenerados" class="btn btn-link btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")" onclick="listas('chkGenerados','1')">
                                    <i class="fa fa-check-square text-success"></i>&nbsp;&nbsp;Generados
                                </button>
                                <button type="button" id="chkAprobados" class="btn btn-link btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")" onclick="listas('chkAprobados','2')">
                                    <i class="fa fa-check-square text-success"></i>&nbsp;&nbsp;Aprobados
                                </button>
                                <button type="button" id="chkGenerarCuentaCorriente" class="btn btn-link btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")" onclick="listas('chkGenerarCuentaCorriente','3')">
                                    <i class="fa fa-check-square text-success"></i>&nbsp;&nbsp;Con Cuenta Corriente
                                </button>
                                <button type="button" id="chkFacturados" class="btn btn-link btn-sm" data-request-url="@Url.Action("Buscar", "PreFacturacion")" onclick="listas('chkFacturados','4')">
                                    <i class="fa fa-check-square text-success"></i>&nbsp;&nbsp;Facturados
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                @*<div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-table"></i>
                            Listado
                        </h3>
                    </div>*@
                <!-- /.card-header -->
                <div class="card-body ">

                    <table id="dglista" class="table table-bordered">
                        <thead class="bg-gradient-lightblue">
                            <tr>
                                <th></th>
                                <th>CODIGO</th>
                                <th>RUC</th>
                                <th>RAZON SOCIAL</th>
                                <th>TIPO ASEGURADO</th>
                                <th>AFILIADOS</th>
                                <th>APORTES</th>
                                <th><input type="checkbox" id="allchk" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.PreFacturaciones != null)
                            {
                                foreach (ENPreFacturacion PreFacturacion in (List<ENPreFacturacion>)ViewBag.PreFacturaciones)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Images/plus.jpg" />
                                            <div style="display:none">
                                                @*<div id="tableGoesHere">

                                                    </div>*@
                                            </div>
                                        </td>
                                        <td class="cellCodigoCliente">@PreFacturacion.CodigoCliente </td>
                                        <td>@PreFacturacion.RucDni </td>
                                        <td>@PreFacturacion.RazonSocial </td>
                                        <td class="cellDescripcionTipoAsegurado">@PreFacturacion.DescripcionTipoAsegurado </td>
                                        <td>@PreFacturacion.RegCounts </td>
                                        <td>@PreFacturacion.AporteAfiliados </td>
                                        <td><input style="border:none;" name="@PreFacturacion.RucDni" type="checkbox" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

    </div>

    <!-- /.col -->
</section>
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @*BOTONES EXPORT*@
    @Scripts.Render("~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/plugins/jszip/jszip.min.js")
    @Scripts.Render("~/Content/plugins/datatables-buttons/js/buttons.html5.min.js")
    @*EXPORT*@
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")
    @Scripts.Render("~/Scripts/Salud/PreFacturacion/Index.js")

    <script>
        var mensaje = "@TempData["mensaje"]";
        mostrarMensaje(mensaje);
    </script>

}


