@using Entidades;
@model IEnumerable<ENPrefacturacionDetalleContratos>
@{
    ViewBag.Title = "Pre-Facturaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
}
<style>

    #loading {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../../Images/loading.gif') 50% 50% no-repeat rgba(249, 249, 249, 0.7);
    }
</style>
<div id="loading" style="display:none;">
</div>
<div id="content" class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-table"></i>
                    Generar Pre-Facturacion
                </h3>
            </div>
            @if (ViewBag.y != null && ViewBag.m != null)
            {
                <input type="hidden" name="name" id="y" value="@ViewBag.y " />
                <input type="hidden" name="name" id="m" value="@ViewBag.m" />
            }
            <!-- /.card-header -->
            <div class="card-body ">
                @using (Html.BeginForm("Buscar", "PreFacturacion", FormMethod.Get))
                {
                    <!-- form here -->
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <label for="anio">Año :</label>
                                <select id="anio" name="anios" class="form-control form-control-sm">
                                    <option value="0">--</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                </select>
                            </div>
                            <div>
                                <label for="mes">Mes :</label>
                                <select id="mes" name="meses" class="form-control form-control-sm">
                                    <option value="0">--</option>
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero</option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label for="txtdesde">Fecha Desde</label>
                                <input type="date" name="fechadesde" id="txtdesde" value="" class="form-control form-control-sm" />
                            </div>
                            <div>
                                <label for="txthasta">Fecha Hasta</label>
                                <input type="date" name="fechahasta" id="txthasta" value="" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <button type="submit" id="btnbusca" class="btn btn-dark btn-sm">
                                    <i class="fa fa-calculator"></i>&nbsp;&nbsp;Calcular
                                </button>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary btn-sm mt-2">
                                    <i class="fa fa-check-square"></i>&nbsp;&nbsp;Generar Pre-Facturacion
                                </a>
                            </div>
                        </div>
                    </div>
                }
                <table id="dglista" class="table table-bordered table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>CODIGO</th>
                            <th>RUC</th>
                            <th>RAZON SOCIAL</th>
                            <th>TIPO ASEGURADO</th>
                            <th>AFILIADOS</th>
                            <th>APORTES</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.PreFacturaciones != null)
                        {
                            foreach (ENPreFacturacion PreFacturacion in (List<ENPreFacturacion>)ViewBag.PreFacturaciones)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Images/plus.jpg" />
                                        <div style="display:none">
                                            @*<div id="tableGoesHere">

                                                </div>*@
                                        </div>
                                    </td>
                                    <td class="cellCodigoCliente">@PreFacturacion.CodigoCliente </td>
                                    <td>@PreFacturacion.RucDni </td>
                                    <td>@PreFacturacion.RazonSocial </td>
                                    <td class="cellDescripcionTipoAsegurado">@PreFacturacion.DescripcionTipoAsegurado </td>
                                    <td>@PreFacturacion.RegCounts </td>
                                    <td>@PreFacturacion.AporteAfiliados </td>
                                    <td>&nbsp;&nbsp;</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")

    <script>
        $(function () {

            $('#dglista').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                "pageLength": 50,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });
    </script>

    <script>

        $('#anio').change(function () {
            $("#mes").prop('selectedIndex', 1);
            var anioi = $("#anio :selected").val();
            var mese = $("#mes :selected").val();

            var LastDay = new Date(anioi, mese, 0);
            var ultimo = LastDay.toISOString().slice(0, 10);
            console.log(ultimo)

            $('#txtdesde').attr('value', anioi + '-' + mese + '-' + '01');
            $('#txthasta').attr('value', ultimo);



        });

        $('#mes').change(function () {
            var anioi = $("#anio :selected").val();
            var mese = $("#mes :selected").val();

            var LastDay = new Date(anioi, mese, 0);
            var ultimo = LastDay.toISOString().slice(0, 10);

            $('#txtdesde').attr('value', anioi + '-' + mese + '-' + '01');
            $('#txthasta').attr('value', ultimo);

        });
    </script>

    <script>
        $("body").on("click", "img[src*='plus.jpg']", function () {
            $("img[src*='minus.jpg']").click();
            //$('table#dglista tr#ad').remove();
            $(this).attr("src", "/images/plus.jpg");
            $(this).closest("tr").after("<tr id='ad'><td></td><td id='tab' colspan = '999'>" + $(this).next().html() + "</td></tr>");
            var row = $(this).closest("tr");
            var year = $("#y").val();
            var month = $("#m").val();
            var pcsespecial = "0";
            var pcsstatus = "0";
            var codigo = row.find(".cellCodigoCliente").html();
            var tipoasegurado = row.find(".cellDescripcionTipoAsegurado").html();

            $(this).attr("src", "/images/minus.jpg");
            $.ajax({
                type: "GET",
                url: "/PreFacturacion/Detalle",
                data: {
                    'anoProceso': year,
                    'mesProceso': month,
                    'pcsEspecial': pcsespecial,
                    'pcsStatus': pcsstatus,
                    'CodigoCliente': codigo,
                    'DescripcionTipoAsegurado': tipoasegurado
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r);
                    document.getElementById('tab').innerHTML = json2table(dataparseada, 'table');
                    //document.getElementById('tableGoesHere').append(json2table(dataparseada, 'table'));
                }
            });

        });
        //Assign Click event to Minus Image.
        $("body").on("click", "img[src*='minus.jpg']", function () {
            $(this).attr("src", "/images/plus.jpg");
            $(this).closest("tr").next().remove();
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#btnbusca').click(function () {
                $('#loading').css('display', 'block');
            });
        });
    </script>

    <script type="text/javascript">

        dateTimeReviver = function (key, value) {
            var a;
            if (typeof value === 'string') {
                a = /\/Date\((\d*)\)\//.exec(value);
                if (a) {

                    var dt = new Date(+a[1]);

                    var dateString = moment(dt).format('YYYY-MM-DD');

                    return dateString;
                }
                //console.log(a);
            }
            return value;
        }

        function json2table(json, classes) {

            json = JSON.parse(JSON.stringify(json), dateTimeReviver);
            //json = JSON.parse(JSON.stringify(json))
            console.log(json);

            var cols = Object.keys(json[0]);

            var headerRow = '';
            var bodyRows = '';

            classes = classes || '';

            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            cols.map(function (col) {
                headerRow += '<th>' + capitalizeFirstLetter(col) + '</th>';
            });

            json.map(function (row) {
                bodyRows += '<tr>';

                cols.map(function (colName) {
                    bodyRows += '<td>' + row[colName] + '</td>';
                })

                bodyRows += '</tr>';
            });

            return '<table class="table ' +
                classes +
                '"><thead class="bg-info"><tr>' +
                headerRow +
                '</tr></thead><tbody>' +
                bodyRows +
                '</tbody></table>';
        }
    </script>

}


