@*@model Entidades.ENSaludContratos*@
@model Salud.ViewModels.VMSaludContratos
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
    @Styles.Render("~/Content/plugins/sweetalert2/sweetalert2.min.css")
}
@using (Html.BeginForm("Crear", "SaludContratos", FormMethod.Post, new { id = "Form1", onsubmit = "return validateForm()" }))
{
    <div class="row">
        <input type="hidden" id="obtener_ruta" name="name" value='@Url.Action("Obtener", "SaludContratos")' />
        <div class="col-md-2">
            <div class="card card-info card-outline shadow-lg sticky-top">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-th-list"></i>
                        Opciones
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center pt-2 pb-2">
                        <button type="submit" class="btn btn-app bg-gradient-info">
                            <i class="fas fa-pencil-alt text-warning"></i>&nbsp;&nbsp;&nbsp;Grabar
                        </button>
                        <a href='@Url.Action("Crear", "SaludContratos")' class="btn btn-app bg-gradient-secondary">
                            <i class="fas fa-file-invoice text-warning"></i>&nbsp;&nbsp;Nuevo
                        </a>
                        <a href='@Url.Action("Index", "SaludContratos")' class="btn btn-app bg-gradient-danger">
                            <i class="fas fa-arrow-left text-warning"></i>&nbsp;&nbsp;Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                <div class="card card-primary card-outline shadow-lg">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-building text-primary"></i>&nbsp;&nbsp;Información del Contratante :</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row pb-4">
                            <div class="col-md-8">
                                <div Class="form-group">
                                    <Label for="drpCodigoCliente">Cliente :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoCliente, "Cliente :", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.DropDownListFor(model => model.SaludContratosVM.CodigoCliente, ViewBag.CodigoCliente as SelectList, new { id = "drpCodigoCliente", @class = "form-control-sm js-example-responsive", @style = "width:100%", @onchange = "callChangefunc(this.value)" })
                                    @Html.ValidationMessageFor(model => model.SaludContratosVM.CodigoCliente)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div Class="form-group">
                                    <Label for="txtRazonSocial">Nombre o Razon Social de la empresa :</Label>
                                    @Html.TextBoxFor(model => model.VMClientes.RazonSocial, new { id = "txtRazonSocial", @class = "form-control form-control-sm", @placeholder = "", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div Class="form-group">
                                    <Label for="txtPersonaContacto">Direccion :</Label>
                                    @Html.TextBoxFor(model => model.VMClientes.Direccion, new { id = "txtDireccion", @class = "form-control form-control-sm", @placeholder = "", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <h5 class="card-title"><i class="fas fa-file text-primary"></i>&nbsp;&nbsp;Información para el contrato</h5>
                        <br />
                        <hr class="pt-4" />
                        <div class="row">
                            <div class="col-md-4" hidden>
                                <div Class="form-group">
                                    <Label for="txtCodigoContrato">Tipo Plan :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoContrato, "CodigoContrato", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.TextBoxFor(model => model.SaludContratosVM.CodigoContrato, new { id = "txtCodigoContrato", @class = "form-control form-control-sm", @placeholder = "" })
                                    @*@Html.ValidationMessageFor(model => model.SaludContratosVM.CodigoContrato)*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div Class="form-group">
                                    <Label for="drpCodigoTipoContrato">Tipo Plan :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoTipoContrato, "Tipo Plan", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.DropDownListFor(model => model.SaludContratosVM.CodigoTipoContrato, ViewBag.CodigoTipoContrato as SelectList, new { id = "drpCodigoTipoContrato", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                    @*@Html.ValidationMessageFor(model => model.SaludContratosVM.CodigoTipoContrato)*@
                                </div>
                            </div>
                            <div Class="col-md-4">
                                <div Class="form-group">
                                    <Label for="txtCotizacion">Cotizacion :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoCotizacion, "Cotizacion :", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.TextBoxFor(model => model.SaludContratosVM.CodigoCotizacion, new { id = "txtCotizacion", @class = "form-control form-control-sm", @placeholder = "" })
                                </div>
                            </div>
                            <div Class="col-md-4">
                                <div Class="form-group">
                                    <Label for="drpCodigoTipoPrima">Inicio Vigencia :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoTipoPrima, "Tipo de Modalidad", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.DropDownListFor(model => model.SaludContratosVM.CodigoTipoPrima, ViewBag.CodigoTipoPrima as SelectList, new { id = "drpCodigoTipoPrima", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                </div>
                            </div>
                            <div Class="col-md-6">
                                <div Class="form-group">
                                    <Label for="txtInicioVigencia">Inicio Vigencia :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.InicioVigencia, "Inicio Vigencia :", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.TextBoxFor(model => model.SaludContratosVM.InicioVigencia, "{0:yyyy-MM-dd}", new { type = "date", id = "txtInicioVigencia", @class = "form-control form-control-sm", @placeholder = "", @onchange = "fechas();" })
                                    @*@Html.TextBox("InicioVigencia", "{0:yyyy-MM-dd}", new { type = "date", id = "txtInicioVigencia", @class = "form-control form-control-sm float-right" })*@

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div Class="form-group">
                                    <Label for="txtFinVigencia">Fin Vigencia :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.FinVigencia, "Fin Vigencia :", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.TextBoxFor(model => model.SaludContratosVM.FinVigencia, "{0:yyyy-MM-dd}", new { type = "date", id = "txtFinVigencia", @class = "form-control form-control-sm", @placeholder = "" })
                                    @*@Html.TextBox("FinVigencia", "{0:yyyy-MM-dd}", new { type = "date", id = "txtFinVigencia", @class = "form-control form-control-sm float-right" })*@

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <Label for="drpEjecutivo">Ejecutivo :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoEjecutivo, "Ejecutivo", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.DropDownListFor(model => model.SaludContratosVM.CodigoEjecutivo, ViewBag.CodigoEjecutivo as SelectList, new { id = "drpEjecutivo", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                    @*@Html.ValidationMessageFor(model => model.SaludContratosVM.CodigoEjecutivo)*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <Label for="drpCorredor">Corredor :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoCorredor, "Corredor", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.DropDownListFor(model => model.SaludContratosVM.CodigoCorredor, ViewBag.CodigoCorredor as SelectList, new { id = "drpCorredor", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                    @*@Html.ValidationMessageFor(model => model.SaludContratosVM.CodigoCorredor)*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <Label for="drpVendedor">Vendedor :</Label>
                                    @*@Html.LabelFor(model => model.SaludContratosVM.CodigoVendedor, "Vendedor", htmlAttributes: new { @class = "control-label" })*@
                                    @Html.DropDownListFor(model => model.SaludContratosVM.CodigoVendedor, ViewBag.CodigoVendedor as SelectList, new { id = "drpVendedor", @class = "form-control-sm js-example-responsive", @style = "width:100%" })
                                    @*@Html.ValidationMessageFor(model => model.SaludContratosVM.CodigoVendedor)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts {

    @*@Scripts.Render("~/Content/plugins/jquery-validation/jquery.validate.min.js")
    @Scripts.Render("~/Content/plugins/jquery-validation/additional-methods.min.js")*@
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
    @Scripts.Render("~/Scripts/Shared/util.js")

    <script>
        $(document).ready(function () {

            var mensaje = "@ViewBag.mensaje";
            if (mensaje != null && mensaje != "")
            {
                Swal.fire({
                    icon: 'success',
                    title: 'Mensaje',
                    html: mensaje,
                    showCloseButton: true
                });
            }

            //$('.js-example-basic-single').select2();
            $(".js-example-responsive").select2({
                width: 'resolve' // need to override the changed default
            });
            $("#drpCodigoTipoContrato").val("004").change();
        //------
            callChangefunc(document.getElementById('drpCodigoCliente').value);

            fechas(); 

        });

        function fechas() {

            const fechaInicio = document.getElementById("txtInicioVigencia");
            const fechaFinal = document.getElementById("txtFinVigencia");

            if (fechaInicio.value != null) {
                var actual = new Date(fechaInicio.value);
                var inicio = new Date(actual.getFullYear(), actual.getMonth() + 1, 1);
                var fin = new Date(inicio.getFullYear() + 1, inicio.getMonth(), 1);

                var fecini = inicio.toISOString().slice(0, 10);
                var fecfin = fin.toISOString().slice(0, 10);

                $('#txtInicioVigencia').val(fecini.trim());
                $('#txtFinVigencia').val(fecfin.trim());

                console.log(fechaInicio.value);
                console.log(fechaFinal.value);
            }

        }




        //const comboCliente = document.getElementById('drpCodigoCliente');
        const razonSocial = document.getElementById('txtRazonSocial');
        const direccion = document.getElementById('txtDireccion');
        var url_method = $('#obtener_ruta').val();

        function callChangefunc(id)
        {
            $.ajax({
                type: "GET",
                url: url_method,
                data: {
                    'id': id
                },
                dataType: "text",
                success: function (r) {
                    var dataparseada = JSON.parse(r).toString();
                    console.log(dataparseada);
                    razonSocial.value = dataparseada.split(',')[0];
                    direccion.value = dataparseada.split(',')[1];
                }
            });
        };



        function validateForm() {
            var ejecutivo = document.forms["Form1"]["drpEjecutivo"].value.trim(); //000
            var broker = document.forms["Form1"]["drpCorredor"].value.trim();//00000
            //---

            if (ejecutivo == "000" && broker == "00000" && cotizacion == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'No ha ingresado información válida',
                    showCloseButton: true
                })
                return false;
            }
            //--
            if (ejecutivo == "000") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'Debe seleccionar un Ejecutivo',
                    showCloseButton: true
                })
                return false;
            }
            if (broker == "00000") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Mensaje',
                    html: 'Debe seleccionar un Corredor',
                    showCloseButton: true
                })
                return false;
            }
        }
    </script>
    <script src="~/Scripts/Comandos.js"></script>


}