@using Entidades;
@model Entidades.ENClientes
@{
    ViewBag.Title = "Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/select2/css/select2.min.css")
}
<div class="row">
    <div class="col-md-2">
        <div class="card card-info card-outline shadow-lg sticky-top">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-th-list"></i>
                    Opciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-center pt-2 pb-2">
                    <div class="col-md-7">
                        <div class="form">
                            <a class="btn btn-app bg-gradient-secondary" href='@Url.Action("Crear", "SaludContratos")'>
                                <i class="fas fa-plus-circle text-warning" style="font-size: 14px;"></i> Agregar
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form">
                            <a class="btn btn-app bg-gradient-primary" href='@Url.Action("Administrar", "SaludContratos")'>
                                <i class="fas fa-folder-plus text-warning" style="font-size: 14px;"></i> Administrar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-table"></i>
                    Lista de Contratos
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body ">
                @using (Html.BeginForm("Index", "SaludContratos", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="drpTipoCliente">Tipo Cliente:</label>
                                <input type="hidden" id="hdCodigoTipoCliente" name="hdCodigoTipoCliente" />
                                @Html.DropDownList("CodigoTipoCliente", null, new { id = "drpTipoCliente", @class = "form-control-sm js-example-responsive", @style = "width:100%", @onchange = "callChangeGetValor(this);" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="drpTipoCliente">Búsqueda:</label>
                                <input type="text" id="txtBusquedaContratos" class="form-control form-control-sm" name="txtBusquedaContratos" placeholder="RUC | DNI | Nombres y Apellidos | Razón Social" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label style="visibility:hidden;">Búsqueda:</label>
                                <div>
                                    <button type="submit" class="btn btn-dark btn-sm">
                                        <i class="fa fa-search-plus text-warning"></i>&nbsp;&nbsp;Buscar Contrato
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="dglista" class="table table-bordered table-hover">
                        <thead class="bg-gradient-lightblue">
                            <tr>
                                <th>CLIENTE</th>
                                @if (ViewBag.IdNombreTabla != null)
                                {
                                    if (ViewBag.IdNombreTabla == "01")
                                    {
                                        <th>RAZON SOCIAL</th>
                                    }
                                    else
                                    {
                                        <th>PATERNO</th>
                                        <th>MATERNO</th>
                                        <th>NOMBRES</th>
                                    }
                                }
                                <th>RUC | DNI</th>
                                <th>CONTRATO</th>
                                <th>TIPO CONTRATO</th>
                                <th>INICIO VIGENCIA</th>
                                <th>FIN VIGENCIA</th>
                                <th hidden>Corredor</th>
                                <th hidden>Ejecutivo</th>
                                <th style="width: 10%">EDITAR</th>
                                <th style="width: 10%">ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ENSaludContratos SaludContratos in (List<ENSaludContratos>)ViewBag.SaludContratos)
                            {
                                <tr>
                                    <td>@SaludContratos.CodigoCliente </td>
                                    @if (ViewBag.IdNombreTabla != null)
                                    {
                                        if (ViewBag.IdNombreTabla == "01")
                                        {
                                            <td>@SaludContratos.RazonSocial</td>
                                        }
                                        else
                                        {
                                            <td>@SaludContratos.Paterno</td>
                                            <td>@SaludContratos.Materno</td>
                                            <td>@SaludContratos.Nombres</td>
                                        }
                                    }


                                    <td>@SaludContratos.RUC</td>
                                    <td>@SaludContratos.CodigoContrato</td>
                                    <td>@SaludContratos.CodigoTipoContrato</td>
                                    <td>@SaludContratos.InicioVigencia.ToString("dd-MM-yyyy")</td>
                                    <td>@SaludContratos.FinVigencia.ToString("dd-MM-yyyy")</td>
                                    <td hidden>@SaludContratos.CodigoCorredor</td>
                                    <td hidden>@SaludContratos.CodigoEjecutivo</td>
                                    <td class="project-actions text-center">
                                        <a class="btn btn-info btn-sm" href='@Url.Action("Crear", "SaludContratos",new RouteValueDictionary( new { idcontrato = SaludContratos.CodigoContrato, idcliente = SaludContratos.CodigoCliente }))'>
                                            <i class="fas fa-pencil-alt text-warning">
                                            </i>&nbsp;&nbsp;
                                            Editar
                                        </a>
                                    </td>
                                    <td class="project-actions text-center">
                                        <form action='@Url.Action("Eliminar", "SaludContratos", new { id = SaludContratos.CodigoContrato, idcliente = SaludContratos.CodigoCliente })' method="POST"
                                              onsubmit="return confirm('¿Está seguro de eliminar el registro?');">
                                            @Html.AntiForgeryToken()
                                            <div class="text-center" role="group">

                                                <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                                    <i class="fas fa-times text-warning">
                                                    </i>&nbsp;&nbsp;
                                                    Eliminar
                                                </button>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                }
            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content//plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/select2/js/select2.full.min.js")

    <script>

        $(function () {

            $('#dglista').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "Todos"]],
                pageLength: 10,
                "searching": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });

        $(document).ready(function () {
            //$('.js-example-basic-single').select2();
            $(".js-example-responsive").select2({
                width: 'resolve' // need to override the changed default
            });
            const combito = document.getElementById("drpTipoCliente");
            callChangeGetValor(combito);
            var valor = "@ViewBag.IdNombreTabla";
            //console.log(valor);
            $("#drpTipoCliente").val(valor).trigger('change');
        });

        function callChangeGetValor(combo) {
            let valor = "";
            const idTipoCliente = document.getElementById("hdCodigoTipoCliente");
            var nomTabla = document.getElementById("nombreTabla");
            idTipoCliente.value = combo.value;
            valor = idTipoCliente.value
            //console.log(valor);
        }

    </script>
}

